@if mgwt.css pretty {
  @external mgwt-Slider, mgwt-Slider-bar, mgwt-Slider-pointer;
}

.mgwt-Slider {
  display: inline-block;
  width: 277px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@if mgwt.formfactor desktop {
  .mgwt-Slider {
    cursor: pointer;
  }
}

.mgwt-Slider-bar {
  position: relative;
  height: 10px;
  background-repeat: no-repeat, repeat-x;
  background-color: #288edf;
  border: 1px solid #9daca9;
  border-radius: 4px;
}

.mgwt-Slider-pointer {
  position: relative;
  height: 40px;
  width: 20px;
  left: -10px;
  top: -17.5px;
  background-color: #e5e9e8;
  border: 1px solid #9daca9;
  border-radius: 6px;
}
