.mgwt-ProgressBar {
	background-color: inherit;
	border: 2px solid rbg(82, 163, 196);
}

@if user.agent safari {
	.mgwt-ProgressBar {
		\-webkit-background-size: 15px 15px;
		background-image: literal('-webkit-gradient(linear, 5 5, 10 10, color-stop(0.25, rgba(255, 255, 255, 0) ), color-stop(0.3, rgba(255, 255, 255, 0.7) ), color-stop(0.3, rgba(255, 255, 255, 1) ), color-stop(0.7, rgba(255, 255, 255, 1) ), color-stop(0.7, rgba(255, 255, 255, 0.7) ), color-stop(0.8, rgba(255, 255, 255, 0) ) )');
		\-webkit-box-sizing: border-box;
	}
}

@if user.agent gecko1_8 {
	.mgwt-ProgressBar {
		\-moz-background-size: 15px 15px;
		background-image: literal('-webkit-gradient(linear, 5 5, 10 10, color-stop(0.25, rgba(82, 163, 196, 0) ), color-stop(0.3, rgba(82, 163, 196, 0.7) ), color-stop(0.3, rgba(82, 163, 196, 1) ), color-stop(0.7, rgba(82, 163, 196, 1) ), color-stop(0.7, rgba(82, 163, 196, 0.7) ), color-stop(0.8, rgba(82, 163, 196, 0) ) )');
		\-moz-box-sizing: border-box
	}
}