.mgwt-Slider .mgwt-Slider-bar {
	position: relative;
	height: 4px;
	\-webkit-box-sizing: padding-box;
	background-repeat: repeat-x;
	background-image: literal('-webkit-gradient(linear, left top ,left bottom, from(rgb(0, 92, 176)), to(rgb(0, 72, 156)))');
}

.mgwt-Slider .mgwt-Slider-pointer {
	position: relative;
	height: 26px;
	width: 26px;
	left: -10px;
	top: -12px;
	\-webkit-tap-highlight-color: transparent;
	\-webkit-border-radius: 15px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	background-image: literal('-webkit-gradient(radial, 50% 50%, 3, 50% 50%, 8, from(rgb(0, 92, 176)), color-stop(0.1, rgb(0, 92, 176)), color-stop(0.1, rgba(0, 92, 176, 0.7)), color-stop(0.15, rgba(255, 255, 255, 1)) ,color-stop(0.16, rgba(0, 92, 176, 0.3)), to(rgba(0, 92, 176, 0.4)))');
}