.mgwt-List {
  border: none;
}

.mgwt-List-entry {
  background-color: white;
  border: 1px solid #D5D5D5;
  border-bottom: none;
  color: black;
}

.mgwt-List-entry-first {
  border: none;
}

.mgwt-List-entry-canbeSelected {
  background-position: literal('calc(100% - 20px) 50%');
}

.mgwt-List-entry-canbeSelected.mgwt-List-entry-selected {
  font-weight: bold;
  color: white;
  background-color: #0D66FB;
  background-position: literal('calc(100% - 20px) 50%');
}

.mgwt-List-Header {
  color: black;
}

.mgwt-List-Head-Element, .mgwt-List > .mgwt-List-Head-Element {
  background-color: #F5F5F5;
  color: black;
}
