@if mgwt.css pretty {
	@external mgwt-RadioButton, mgwt-RadioButton-label, mgwt-RadioButton-input, mgwt-RadioButton-disabled;
}

.mgwt-RadioButton {
	position: relative;
}

@if mgwt.formfactor desktop {
  .mgwt-RadioButton-label, .mgwt-RadioButton-input {
    cursor: pointer;
  }
}

.mgwt-RadioButton-label {
	
}

.mgwt-RadioButton-input {
	
}

@if user.agent safari {
	.mgwt-RadioButton {
		display: \-webkit-box;
		-webkit-box-orient: horizontal;
		\-webkit-box-flex: 1;
	}
	.mgwt-RadioButton-label {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
		width: 100%;
		\-moz-box-flex: 1;
	}
	.mgwt-RadioButton-label {
		display: -moz-box;
		position: relative;
		\-moz-box-flex: 1;
	}
}

.mgwt-RadioButton-disabled {
	
}

@url checkImage inputCheckImage;

.mgwt-RadioButton-input {
	width: 18px;
	height: 18px;
	border: none;
	background-color: transparent;
	background-image: checkImage;
	opacity: 0.2;
}

.mgwt-RadioButton-input:CHECKED {
	background-image: checkImage;
	opacity: 1.0;
	background-color: transparent;
}

@if user.agent safari {
	.mgwt-RadioButton-input {
		\-webkit-appearance: none;
		\-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	.mgwt-RadioButton-input:CHECKED {
		\-webkit-appearance: none;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton-input {
		\-moz-appearance: none !important;
	}
	.mgwt-RadioButton-input:CHECKED {
		\-moz-appearance: none !important;
	}
}