@if mgwt.css pretty {
  @external userSelectNone, userSelectText, userSelectAll, userSelectElement;
}

@if user.agent safari {
  .userSelectNone {
    -webkit-user-select: none;
  }
}

@if user.agent gecko1_8 {
  .userSelectNone {
    -moz-user-select: none;
  }
}

.userSelectNone {
  user-select: none;
}



@if user.agent safari {
  .userSelectText {
    -webkit-user-select: text;
  }
}

@if user.agent gecko1_8 {
  .userSelectText {
    -moz-user-select: text;
  }
}

.userSelectText {
  user-select: text;
}



@if user.agent safari {
  .userSelectAll {
    -webkit-user-select: all;
  }
}

@if user.agent gecko1_8 {
  .userSelectAll {
    -moz-user-select: all;
  }
}

.userSelectAll {
  user-select: all;
}



@if user.agent safari {
  .userSelectElement {
    -webkit-user-select: element;
  }
}

@if user.agent gecko1_8 {
  .userSelectElement {
    -moz-user-select: element;
  }
}

.userSelectElement {
  user-select: element;
}
