@if mgwt.css pretty {
	@external mgwt-ButtonBar, text, spacer;
}



.mgwt-ButtonBar {
	overflow:hidden;
	width: 100%;
	position: relative;
	
	
}

@if user.agent safari {
	.mgwt-ButtonBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
	}
}

@if user.agent gecko1_8 {
	.mgwt-ButtonBar {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
	}
}

@if user.agent ie9 {
	.mgwt-ButtonBar {
		display: table;
		
	}
}



.mgwt-ButtonBar-text{
	margin-top: 14px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
		
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #333;
	color: white;
}

@if user.agent ie9 {
	.mgwt-ButtonBar-text{
		display: table-cell;
		vertical-align: middle;
	}
}



.mgwt-ButtonBar-spacer{
}

@if user.agent gecko1_8 {
	.mgwt-ButtonBar-spacer{
		\-moz-box-flex: 1;
	}
}

@if user.agent safari {
	.mgwt-ButtonBar-spacer{
		\-webkit-box-flex: 1;
	}
}

@if user.agent ie9 {
	.mgwt-ButtonBar-spacer{
		display: table-cell;
		width: 50%;
		
	}
}
