@if mgwt.css pretty {
	@external mgwt-BarButton, mgwt-BarButton-active;
}

.mgwt-BarButton {
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 44px;
	height: 44px;
	\-webkit-appearance: none;
	border: 0px solid black;
	background-color: transparent;
	box-sizing: content-box;
	
}

.mgwt-BarButton-active{
}

