@if mgwt.css pretty {
	@external mgwt-ButtonBar;
}

.mgwt-ButtonBar .spacer{
	\-webkit-box-flex: 1;
}

.mgwt-ButtonBar .text{
	margin-top: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
		
	font-size: 12px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #333;
	color: white;
}

@if mgwt.os iphone retina {
	.mgwt-ButtonBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
		
		overflow:hidden;
		position: relative;
		height: 40px;
		width: 100%;
		background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(176, 188, 205, 1)), to(rgba(129, 149, 175, 1)))');
		border-top: 1px solid rgb(45, 54, 66);
	}
}

@if mgwt.os ipad desktop {
	.mgwt-ButtonBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
		overflow:hidden;
		height: 40px;
		width: 100%;
		background-color: #B0B4C0;
		background-image: literal('-webkit-gradient(linear,left bottom,left top,color-stop(0, #A8ACB9),color-stop(1, #eee))');
		border-top: 1px solid #797F90;
	}
}


@if mgwt.os android android_tablet {
	.mgwt-ButtonBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
		overflow:hidden;
		height: 40px;
		width: 100%;
		background-color: transparent;
		border-top: 2px solid rgb(82, 163, 196);
	}

}

@if mgwt.os blackberry {
	.mgwt-ButtonBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
		overflow:hidden;
		height: 40px;
		width: 100%;
		background-color: transparent;
		border-top: 1px solid white;
	}
}

