@if mgwt.css pretty {
	@external mgwt-Carousel, mgwt-Carousel-Scroller, mgwt-Carousel-Container, mgwt-Carousel-Indicator-Container, .mgwt-Carousel-Indicator, mgwt-Carousel-Indicator-active, mgwt-Carousel-Holder;
}

.mgwt-Carousel {
	position: relative;
}

@if user.agent safari {
	.mgwt-Carousel {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel {
		display: \-moz-box;
		\-moz-box-flex: 1;
	}
}

.mgwt-Carousel-Scroller {
	
}

@if user.agent safari {
	.mgwt-Carousel-Scroller {
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Scroller {
		\-moz-box-flex: 1;
	}
}

.mgwt-Carousel-Container {
	
}

@if user.agent safari {
	.mgwt-Carousel-Container {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Container {
		display: \-moz-box;
		\-moz-box-flex: 1;
	}
}

.mgwt-Carousel-Indicator-Container {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

@if user.agent safari {
	.mgwt-Carousel-Indicator-Container {
		display: \-webkit-box;
		\-webkit-box-pack: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Indicator-Container {
		display: \-moz-box;
		\-moz-box-pack: center;
	}
}

.mgwt-Carousel-Indicator {
	width: 8px;
	height: 8px;
	background-color: #d3d3d3;
	border-radius: 4px;
	margin: 4px;
}

.mgwt-Carousel-Indicator-active {
	background-color: #757575;
}

.mgwt-Carousel-Holder {
	position: relative;
}

@if user.agent safari {
	.mgwt-Carousel-Holder {
		display: \-webkit-box;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Holder {
		display: \-moz-box;
	}
}