@if mgwt.css pretty {
	@external mgwt-DialogAnimationContainer-Shadow, mgwt-DialogAnimationContainer, mgwt-DialogAnimationContainer-center;
	@external mgwt-DialogPanel, mgwt-Dialog, container, title, content, footer, okbutton, cancelbutton, active, mgwt-BottomPanel, shadow, z_index;
}

.z_index {
	z-index: 100;
}

.mgwt-DialogAnimationContainer-Shadow {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

@if user.agent safari {
	.mgwt-DialogAnimationContainer {
		display: -webkit-box;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	.mgwt-DialogAnimationContainer-center {
		\-webkit-box-orient: horizontal;
		\-webkit-box-pack: center;
		\-webkit-box-align: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-DialogAnimationContainer {
		
	}
	.mgwt-DialogAnimationContainer-center {
		\-moz-box-orient: horizontal;
		\-moz-box-pack: center;
		\-moz-box-align: center;
		display: -moz-box;
		width: 100%;
		height: 100%;
	}
}

.mgwt-BottomPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: literal('-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(50, 74, 103, 0.9)), color-stop(0.02, rgba(20, 25, 35, 0.9) ), to(rgba(0, 0, 0, 0.0) ) )');
	border-top: 1px solid #030506;
	padding: 10px;
}

/* other browsers */
@if user.agent ie6 ie8 ie9 gecko opera {
	.mgwt-DialogAnimationContainer {
		
	}
	.mgwt-DialogAnimationContainer-center {
		
	}
	.active {
		
	}
}