@if mgwt.css pretty {
	@external mgwt-HeaderPanel, mgwt-HeaderPanel-left, mgwt-HeaderPanel-right, mgwt-HeaderPanel-center, mgwt-DropDownMenu;
	@external mgwt-HeaderButton, active, back, forward, round;
	@external mgwt-DropDownMenu, mgwt-DropDownMenu-content,  mgwt-DropDownMenu-arrow;
}

.mgwt-HeaderPanel {
	position: relative;	
}

@if mgwt.os iphone retina {
	.mgwt-HeaderPanel {
		height: 40px;
		border-bottom: 1px solid rgb(45, 54, 66);
	}
	@if user.agent safari {
		.mgwt-HeaderPanel {
			background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(176, 188, 205, 1)), to(rgba(129, 149, 175, 1)))');
		}
	}
	@if user.agent gecko1_8 {
		.mgwt-HeaderPanel {
			background-image: literal('-moz-linear-gradient(top, rgba(176, 188, 205, 1), rgba(129, 149, 175, 1))');
		}
	}
	
}

@if mgwt.os ipad desktop {
	.mgwt-HeaderPanel {
		height: 40px;
		background: #B0B4C0;
		
		border-bottom: 1px solid #797F90;
	}
	@if user.agent safari {
		.mgwt-HeaderPanel {
			background: literal('-webkit-gradient(linear,left bottom,left top,color-stop(0, #A8ACB9),color-stop(1, #eee))');
		}
	}
	@if user.agent gecko1_8 {
		.mgwt-HeaderPanel {
			background: literal('-moz-linear-gradient(bottom,#A8ACB9,#eee)');
		}
	}
	
}


@if mgwt.os android android_tablet {
	.mgwt-HeaderPanel {
		height: 50px;
		background-color: black;
		background-image: none;
		border-bottom: 2px solid rgb(82, 163, 196);
	}
}

@if mgwt.os blackberry {
	.mgwt-HeaderPanel {
		height: 40px;
		background-color: black;
		background-image: none;
		border-bottom: 2px solid rgb(0, 92, 176);
	}
}


.mgwt-HeaderPanel .mgwt-HeaderPanel-left {
	position: absolute;
}

.mgwt-HeaderPanel .mgwt-HeaderPanel-right {
	position: absolute;
}

.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
	position: absolute;
	left: 50%;
}

@if mgwt.os iphone retina {
	.mgwt-HeaderPanel .mgwt-HeaderPanel-left {
		top: 0px;
		left: 6px;
	}

	.mgwt-HeaderPanel .mgwt-HeaderPanel-right {
		top: 0px;
		right: 6px;
	}

	.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
		left: 50%;
		height: 31px;
		width: 310px;
		
		margin-top: 6px;
		margin-left: -150px;
		margin-right: 5px;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		
		font-size: 16pt;
		font-weight: bold;
		color: white;
		
		
	}
}

@if mgwt.os ipad desktop {
	.mgwt-HeaderPanel .mgwt-HeaderPanel-left {
		top: 0px;
		left: 6px;
	}

	.mgwt-HeaderPanel .mgwt-HeaderPanel-right {
		top: 0px;
		right: 6px;
	}

	.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
		left: 50%;
		height: 31px;
		width: 310px;
		
		margin-top: 6px;
		margin-left: -150px;
		margin-right: 5px;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		
		font-size: 16pt;
		font-weight: bold;
		color: #75777b;
		
		
	}
}

@if mgwt.os blackberry {
	.mgwt-HeaderPanel .mgwt-HeaderPanel-left {
		top: 0px;
		left: 6px;
	}
	
	.mgwt-HeaderPanel .mgwt-HeaderPanel-right {
		top: 0px;
		right: 6px;
	}
	
	.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
		left: 50%;
		height: 31px;
		width: 310px;
		opacity: 1;
		
		
		margin-top: 6px;
		margin-left: -150px;
		margin-right: 5px;
		
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		
		font-size: 16pt;
		font-weight: bold;
		color: white;
		
		
		
	}
}

@if mgwt.os android android_tablet {
	.mgwt-HeaderPanel .mgwt-HeaderPanel-left {
		top: 6px;
		left: 6px;
	}
	
	.mgwt-HeaderPanel .mgwt-HeaderPanel-right {
		top: 6px;
		right: 6px;
	}
	
	.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
		left: 50%;
		height: 31px;
		width: 240px;
		opacity: 1;
		margin-left: -110px;
		margin-top: 12px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-align: center;
		
		font-size: 24px;
		color: white;
		
		
		
	}
}


.mgwt-HeaderButton {
	z-index: 1;
	margin: 6px 0 0 12px;
	height: 26px;
	\-webkit-appearance: none;
	border: 0px solid black;
	background-color: transparent;
	box-sizing: content-box;
}
@if user.agent safari {
	.mgwt-HeaderButton {
		\-webkit-appearance: none;
	}
}
@if user.agent gecko1_8 {
	.mgwt-HeaderButton {
		\-moz-appearance: none;
	}
}


.mgwt-HeaderButton p { 
    position: relative; 
    z-index: 2; 
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0; 
    padding: 5px; 
    font-size: 12px; 
    text-align: center;
    min-width: 40px;
	max-width: 60px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	height: 14px;
	
}
	
@if user.agent safari {
	.mgwt-HeaderButton p {
		\-webkit-border-radius: 4px;
		\-webkit-background-origin: border-box;
	}
}
@if user.agent gecko1_8 {
	.mgwt-HeaderButton p {
		\-moz-border-radius: 4px;
		\-moz-background-origin: border-box;
	}
}	
	

@if mgwt.os iphone retina {
	.mgwt-HeaderButton p {
		color: #fff; 
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
		text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
		color: white;
		font-weight: bold; 
	}
	@if user.agent safari {
		.mgwt-HeaderButton p {
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton p {
			background-image: literal('-moz-linear-gradient(top, #9fb3cc, #6b8bb2 50%, #597eaa 51%, #5b80ab )');
		}
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active p{
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#7582a4), to(#283d6f), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active p{
			background-image: literal('-moz-linear-gradient(top, #7582a4, #6b8bb2 50%, #597eaa 51%, #283d6f )');
		}
	}
	
	
}

@if mgwt.os ipad desktop {
	.mgwt-HeaderButton p {
		color: #fff; 
		text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
		color: white;
		font-weight: bold; 
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton p {
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(178, 182, 188)), to(rgb(108, 115,126)))');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton p {
			background-image: literal('-moz-linear-gradient(top, rgb(178, 182, 188), rgb(108, 115,126))');
		}
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active p{
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(138, 142, 148)), to(rgb(68, 75,86)))');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active p{
			background-image: literal('-moz-linear-gradient(top, rgb(138, 142, 148), rgb(68, 75,86))');
		}
	}
	
	
}

@if mgwt.os android android_tablet {
	.mgwt-HeaderButton p {
		color: white;
		border: 2px solid rgb(82, 163, 196);
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active p{
			background: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(42, 123, 156)), to(rgb(32, 113, 146)) )');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active p{
			background: literal('-moz-linear-gradient(top, rgb(42, 123, 156), rgb(32, 113, 146))');
		}
	}
	
	
}

@if mgwt.os blackberry {
	.mgwt-HeaderButton p {
		color: white;
		border: 2px solid #ccc;
		
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active p{
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(0, 92, 176)), to(rgb(0, 72, 156)) )');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active p{
			background-image: literal('-moz-linear-gradient(top, rgb(0, 92, 176), rgb(0, 72, 156))');
		}
	}
}

.mgwt-HeaderButton.back p { 
    border-left: none;
   
}

.mgwt-HeaderButton.back div {
	position: absolute;
	z-index: 1;
	top: 4.5px;
	left: -7.5px;
}

@if user.agent safari {
	.mgwt-HeaderButton.back div {	
		\-webkit-transform: rotate(54deg);
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton.back div {	
		top: 4px;
		left: -7px;
		\-moz-transform: rotate(52deg);
	}
}


.mgwt-HeaderButton.back span { 
    \-webkit-transform: skew(15deg);
    display: block; 
    width: 17px; 
    height: 17px; 
    \-webkit-border-radius: 2px; 
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-right: none;
    border-top:none;
    \-webkit-border-radius: 4px;
}

@if user.agent safari {
	.mgwt-HeaderButton.back span { 
	    \-webkit-transform: skew(15deg);
	    \-webkit-border-radius: 2px; 
	    \-webkit-border-radius: 4px;
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton.back span { 
	    \-moz-transform: skew(15deg);
	    \-moz-border-radius: 2px; 
	    \-moz-border-radius: 4px;
	}
}


@if mgwt.os iphone retina {
	@if user.agent safari {
		.mgwt-HeaderButton.back span { 
	    	background-image: literal('-webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa))');     
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.back span { 
	    	background-image: literal('-moz-linear-gradient(top, #9fb3cc,#6b8bb2 50%, #597eaa 51%, #5b80ab)');     
		}
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active span{
			background: literal('-webkit-gradient(linear, left top, right bottom, from(#7582a4), to(#283d6f), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active span{
			background: literal('-moz-linear-gradient(top, #7582a4, #6b8bb2 50%, #597eaa 51%,#283d6f)');
		}
	}
	
	
	
}



@if mgwt.os ipad desktop {
	.mgwt-HeaderButton.back span {
		text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
		color: white;
		font-weight: bold; 
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.back span {
			background-image: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(178, 182, 188)), to(rgb(108, 115,126)))');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.back span {
			background-image: literal('-moz-linear-gradient(top, rgb(178, 182, 188), rgb(108, 115,126))');
		}
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active span{
			background-image: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(138, 142, 148)), to(rgb(68, 75,86)))');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active span{
			background-image: literal('-moz-linear-gradient(top, rgb(138, 142, 148), rgb(68, 75,86))');
		}
	}
}

@if mgwt.os android android_tablet {
	.mgwt-HeaderButton.back span {
		background-image: none;
		color: white;
		border: 2px solid rgb(82, 163, 196);
    	border-right: none;
    	border-top:none;
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.back span {
	    	 \-webkit-box-shadow: none;	
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.back span {
	    	 \-moz-box-shadow: none;	
		}
	}
	
	@if user.agent safari {
		.mgwt-HeaderButton.active span{
			background: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(42, 123, 156)), to(rgb(32, 113, 146)) )');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active span{
			background: literal('-moz-linear-gradient(top, rgb(42, 123, 156), rgb(32, 113, 146))');
		}
	}
}

@if mgwt.os blackberry {
	.mgwt-HeaderButton.back span { 
    	border: 2px solid #ccc;
    	border-right: none;
    	border-top:none;
	}
	@if user.agent safari {
		.mgwt-HeaderButton.active span{
			background-image: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(0, 92, 176)), to(rgb(0, 72, 156)) )');
			
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-HeaderButton.active span{
			background-image: literal('-moz-linear-gradient(top, rgb(0, 92, 176), rgb(0, 72, 156))');
			
		}
	}
}








.mgwt-HeaderButton.forward div {
	position: absolute;
	z-index: 1;
	top: 4px;
	right: -7px;
	\-webkit-transform: rotate(51deg);
}

.mgwt-HeaderButton.round{
}
	
	

/**

	DROP DOWN MENU
	only IOS right now
*/


.mgwt-DropDownMenu {
	
	width: 300px;
	\-webkit-padding-start: 0px;
	\-webkit-border-radius: 10px;
	\-webkit-box-shadow: 2px 2px 10px #000000;
	background-color: #131b2f;
	border: solid 2px #4f4f4f;
	margin: 0px;
	top: 49px;
	left: 10px;
	bottom: 20px;
	position: absolute;
}



.mgwt-DropDownMenu-content {
	
	display: -webkit-box;
	\-webkit-box-orient: vertical;
	width: 100%;
	height: 100%;

}



.mgwt-DropDownMenu-arrow {
	
	background-color: #ffffff;
	margin: 0px 5px 5px 5px !important;
	\-webkit-border-radius: 5px;
	position: absolute;
	top: -15px;
	left: 3px;
	height: 30px !important;
	width: 30px;
	border: solid 2px #4f4f4f;
	border-bottom: none;
	border-right: none;
	background-color: #7d828c;
	\-webkit-transform: rotate(45deg);
	\-webkit-mask-image: literal('-webkit-gradient(linear, left top, right bottom, from(#000000), color-stop(0.5, #000000), color-stop(0.5, transparent), to(transparent) )');


}



.mgwt-DropDownMenu .mgwt-HeaderPanel{
	padding: 0px 10px;
	height: 40px;
	\-webkit-border-top-left-radius: 8px;
	\-webkit-border-top-right-radius: 8px;
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7e838d), color-stop(0.5, #303648), color-stop(0.5, #121b2e), to(#131b2f) )');
	position: relative;
	border-bottom: 0;
	
}

.mgwt-DropDownMenu .mgwt-HeaderPanel .mgwt-HeaderPanel-center {
		
		color: white;
		
		
	}

.mgwt-DropDownMenu .mgwt-HeaderButton.back span { 
    
   background-image: literal('-webkit-gradient(linear, left top, right bottom, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e))');   
 
}

.mgwt-DropDownMenu .mgwt-HeaderButton
		{
			color: #ffffff;
			text-decoration: none;
			display: inline-block;
			/*padding: 4px 10px;*/
			\-webkit-border-radius: 5px;
			margin-top: 6px;
			
			border: solid 1px rgba(79, 79, 79, 0.75);
			\-webkit-box-shadow: none;
			
		}

.mgwt-DropDownMenu .mgwt-HeaderButton p {
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e))');
}

.mgwt-DropDownMenu .mgwt-HeaderButton.active p {
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5e636d), color-stop(0.5, #101628), color-stop(0.5, #00000e), to(#00000f) )');
}

.mgwt-DropDownMenu .mgwt-HeaderButton.active span { 
    
   background-image: literal('-webkit-gradient(linear, left top, right bottom, from(#5d626c),color-stop(0.5, #101729), color-stop(0.5, #00000e), to(#00000e))');   
 
}





/* other browsers */

@if user.agent ie6 ie8 ie9 gecko opera {
	.mgwt-HeaderPanel-right{}
                        .mgwt-HeaderPanel{}
                         .round{}
                         .mgwt-HeaderButton{}
                        .active{}
                        .mgwt-DropDownMenu{}
                         .mgwt-HeaderPanel-center{}
                         .forward{}
                         .mgwt-DropDownMenu-content{}
                        .mgwt-HeaderPanel-left{}
                        .mgwt-DropDownMenu-arrow{}
                       .back{}
}


