@url checkImage inputCheckImage;
@url androidCheckChecked android_check_checked;
@url androidCheckNotChecked android_check_not_checked;
@if mgwt.css pretty {
	@external mgwt-TextBox, mgwt-PasswordTextBox, mgwt-TextArea, box, cover, mgwt-RadioButton, disabled;
}

.mgwt-TextBox .box,.mgwt-PasswordTextBox .box,.mgwt-TextArea .box {
	color: #777;
	border: 0;
	font: normal 17px Helvetica;
	padding: 0;
	display: inline-block;
	margin-left: 0px;
	width: 100%;
	height: 100%;
	\-webkit-appearance: none;
	\-moz-appearance: none;
	\-webkit-user-select: text;
	\-moz-user-select: text;
	\-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.mgwt-TextBox .cover,.mgwt-PasswordTextBox .cover,.mgwt-TextArea .cover {
	position: absolute;
	width: 100%;
	height: 100%;
}

.mgwt-TextBox,.mgwt-PasswordTextBox,.mgwt-TextArea {
	position: relative;
}

.mgwt-RadioButton {
	position: relative;
}

@if user.agent safari {
	.mgwt-RadioButton {
		display: \-webkit-box;
		-webkit-box-orient: horizontal;
	}
	.mgwt-RadioButton>label {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
		width: 100%;
	}
	.mgwt-RadioButton>label {
		display: -moz-box;
		position: relative;
		\-moz-box-flex: 1;
	}
}

/*todo*/
.disabled {
	
}

.mgwt-ListBox {
	color: #777;
	border: 0;
	font: normal 17px Helvetica;
	padding: 0;
	display: inline-block;
	margin-left: 0px;
	width: 100%;
	height: 100%;
	\-webkit-appearance: none;
	\-webkit-user-select: text;
}