@url checkImage inputCheckImage;
@url androidCheckChecked android_check_checked;
@url androidCheckNotChecked android_check_not_checked;

@if mgwt.css pretty {
	@external mgwt-TextBox, mgwt-PasswordTextBox, mgwt-TextArea, box, cover, mgwt-RadioButton, disabled;
	
}

.mgwt-TextBox .box, .mgwt-PasswordTextBox .box, .mgwt-TextArea .box{
    color: #777;
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    
    \-webkit-appearance: none;
    \-moz-appearance: none;
    \-webkit-user-select: text;
    \-moz-user-select: text;
    \-webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
}


@if mgwt.os android android_tablet {
	.mgwt-TextBox .box:focus, .mgwt-PasswordTextBox .box:focus, .mgwt-TextArea .box:focus {
    	\-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    	\-webkit-focus-ring-color:  rgba(0, 0, 0, 0); 
	}
	
	.mgwt-TextBox .box, .mgwt-PasswordTextBox .box, .mgwt-TextArea .box{
		background-color: transparent;
		color: white;
		
	
	}
	
}

@if mgwt.os blackberry {
	.mgwt-TextBox .box:focus, .mgwt-PasswordTextBox .box:focus, .mgwt-TextArea .box:focus {
    	\-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    	\-webkit-focus-ring-color:  rgba(0, 0, 0, 0); 
	}
	
	.mgwt-TextBox .box, .mgwt-PasswordTextBox .box, .mgwt-TextArea .box{
		background-color: transparent;
		color: white;
		
	
	}
	

}


.mgwt-TextBox .cover, .mgwt-PasswordTextBox .cover, .mgwt-TextArea .cover{
    position: absolute;
    width: 100%;
    height: 100%;
}

.mgwt-TextBox , .mgwt-PasswordTextBox, .mgwt-TextArea {
    position: relative;
   
}

.mgwt-RadioButton {
		position: relative;
	}


@if user.agent safari {
	.mgwt-RadioButton {
		display: \-webkit-box;
		-webkit-box-orient: horizontal;
	}

	.mgwt-RadioButton > label {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
		width: 100%;
	}

	.mgwt-RadioButton > label {
		display: -moz-box;
		position: relative;
		\-moz-box-flex: 1;
	}
}







@if mgwt.os ipad iphone desktop retina {
	
	.mgwt-RadioButton>input {
		width: 18px;
		height: 18px;
		border: none;
		background-color: transparent;
		background-image: checkImage;
		opacity: 0.2;
		
	}
	
	.mgwt-RadioButton>input:CHECKED {
		background-image: checkImage;
		opacity: 1.0;
		background-color: transparent;
		
		
	}
	
	@if user.agent safari {
		.mgwt-RadioButton>input {
			\-webkit-appearance: none;
			\-webkit-tap-highlight-color:  rgba(0, 0, 0, 0);
		}
		
		.mgwt-RadioButton>input:CHECKED {
			\-webkit-appearance: none;
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-RadioButton>input {
			\-moz-appearance: none  !important;
		}
		
		.mgwt-RadioButton>input:CHECKED {
			\-moz-appearance: none  !important;
		}
	}
	
	
}


@if mgwt.os android android_tablet {
	
	.mgwt-RadioButton>input {
		width: 32px;
		height: 32px;
		border: none;
		background-color: transparent;
		background-image: androidCheckNotChecked;
	}
	
	.mgwt-RadioButton>input:CHECKED {
		background-image: androidCheckChecked;
		background-color: transparent;
	}
	.mgwt-RadioButton>input:FOCUS{
		\-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    	\-webkit-focus-ring-color:  rgba(0, 0, 0, 0); 
	}
	
	@if user.agent safari {
		.mgwt-RadioButton>input {
			\-webkit-appearance: none;
			\-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    		\-webkit-focus-ring-color:  rgba(0, 0, 0, 0); 
		}
		
		.mgwt-RadioButton>input:CHECKED {
			\-webkit-appearance: none;
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-RadioButton>input {
			\-moz-appearance: none;
			\-moz-tap-highlight-color:  rgba(255, 255, 255, 0);
    		\-moz-focus-ring-color:  rgba(0, 0, 0, 0); 
		}
		
		.mgwt-RadioButton>input:CHECKED {
			\-moz-appearance: none;
		}
	}
	
	
}





/*TODO */
@if mgwt.os blackberry {
	
	
	.mgwt-RadioButton>input {
		\-webkit-appearance: none;
		\-moz-appearance: none;
		width: 32px;
		height: 32px;
		border: none;
		background-color: transparent;
		background-image: androidCheckNotChecked;
		
	}
	
	.mgwt-RadioButton>input:CHECKED {
		\-webkit-appearance: none;
		\-moz-appearance: none;
		background-image: androidCheckChecked;
		
		background-color: transparent;
		
		
	}
}


/*todo*/
.disabled{
}

.mgwt-ListBox{
	 color: #777;
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    
    \-webkit-appearance: none;
    \-webkit-user-select: text;
}

@if mgwt.os android android_tablet {
	.mgwt-ListBox, .mgwt-ListBox:focus  {
    	\-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    	\-webkit-focus-ring-color:  rgba(0, 0, 0, 0); 
	}
	
	.mgwt-ListBox{
		background-color: transparent;
		color: white;
	
	}
}

@if mgwt.os blackberry {
	.mgwt-ListBox, .mgwt-ListBox:focus  {
    	\-webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
    	\-webkit-focus-ring-color:  rgba(0, 0, 0, 0); 
	}
	
	.mgwt-ListBox{
		background-color: transparent;
		color: white;
	
	}
}


