@url arrowImage listArrow;


@if mgwt.css pretty {
	@external mgwt-List, selected, group, mgwt-List-Header;
	
}

.mgwt-List {
	position: relative;
	list-style: none;
	border-collapse: collapse;
}

@if mgwt.os iphone ipad desktop retina {
	
	.mgwt-List li {
		background-color: white;
		position: relative;
		list-style-type: none;
		display: block;
		border: 1px solid rgb(171, 173, 176);
		border-bottom: none;
		overflow: hidden;
		width: auto;
		padding: 12px;
	}
	
	.mgwt-List.round {
		padding: 10px;
	}

	.mgwt-List.round li{
		
	}
	
	.mgwt-List.round li.first {
		border-top-left-radius: 8px 8px;
		border-top-right-radius: 8px 8px;
	}
	
	.mgwt-List.round li.last {
		border-bottom-left-radius: 8px 8px;
		border-bottom-right-radius: 8px 8px;
		border-bottom: 1px solid rgb(171, 173, 176);;
		
	}

	.mgwt-List .selected {
		
	}
	
	.mgwt-List .group {
		background-image: arrowImage;
		background-repeat: no-repeat;
		background-position: 100% 50%;
	}
	
	.mgwt-List .group.selected {
		font-weight: bold;
		color: white;
		background-repeat: no-repeat, repeat;
		background-position: 100% 50%, 0 0;
		background-image: arrowImage, literal('-webkit-gradient(linear, left top, left bottom, from(rgb(5, 140, 245)), to(rgb(1, 95, 230)) )');
	}
	
	.mgwt-List-Header {
		color: black;
		font: normal normal bold 18px/normal Helvetica;
		margin: 10px 20px 5px;
		text-shadow: rgba(255, 255, 255, 0.19);
	}
}


@if mgwt.os android android_tablet {
	.mgwt-List li {
		color: white; 
	}
	
	.mgwt-List li {
		position: relative;
		list-style-type: none;
		display: block;
		overflow: hidden;
		width: auto;
		padding: 12px;
		border-bottom: 1px solid rgb(50, 50, 50);
	}
	
	.mgwt-List.round {
		padding: 10px;
	}

	.mgwt-List.round li{
		
	}
	
	.mgwt-List.round li.first {
		
	}
	
	.mgwt-List.round li.last {
		
		
	}

	.mgwt-List .selected {
		
	}
	
	.mgwt-List .group {
		
	}
	
	.mgwt-List .group.selected {
		color: white;
		background-repeat: no-repeat;
		background-position: 0 49%;
		background-size: 100% 95%;
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(11, 40, 94)), to(rgb(13, 41, 98)) )');
	}
	.mgwt-List-Header {
		color: rgb(82, 163, 196);
		font: normal normal bold 18px/normal Helvetica;
		margin: 10px 20px 5px;
		text-shadow: rgba(255, 255, 255, 0.19);
	}
}

/**TODO blackberry still not styled*/
@if mgwt.os blackberry {
	.mgwt-List li {
		color: white; 
	}
	
	.mgwt-List li {
		position: relative;
		list-style-type: none;
		display: block;
		overflow: hidden;
		width: auto;
		padding: 12px;
		border-bottom: 1px solid rgb(50, 50, 50);
	}
	
	.mgwt-List.round {
		padding: 10px;
	}

	.mgwt-List.round li{
		
	}
	
	.mgwt-List.round li.first {
		
	}
	
	.mgwt-List.round li.last {
		
		
	}

	.mgwt-List .selected {
		
	}
	
	.mgwt-List .group {
		
	}
	
	.mgwt-List .group.selected {
		font-weight: bold;
		color: white;
		background-repeat: no-repeat;
		background-position: 0 50%;
		background-size: 100% 80%;
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(11, 40, 94)), to(rgb(13, 41, 98)) )');
	}
	
	.mgwt-List-Header {
		color: black;
		font: normal normal bold 18px/normal Helvetica;
		margin: 10px 20px 5px;
		text-shadow: rgba(255, 255, 255, 0.19);
	}
}








