@external body, *;



* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
}


@if user.agent safari {
	* {
		\-webkit-user-select: none;
		\-webkit-text-size-adjust: none;
		\-webkit-touch-callout: none;
		\-webkit-text-size-adjust: none;
	}
	
}

@if user.agent gecko1_8 {
	* {
		\-moz-user-select: none;
	}
}




body {
	width: 100%;
	height: 100%;
	position: absolute;
}




@if mgwt.os iphone retina {
	body {
		background-color:#C5CCD4;
		
		background-size:7px 7px;
		background-repeat: repeat;
	}
	
	@if user.agent safari {
		body {
			background-image: literal('-webkit-gradient(linear, left top, right top, from(#C5CCD4), to(#CBD2D8), color-stop(0.6, #C5CCD4), color-stop(0.6, #CBD2D8))');
		}
	}
	
	@if user.agent gecko1_8 {
		body {
			background-image: literal('-moz-linear-gradient(left, #C5CCD4, #C5CCD4 60%, #CBD2D8 61%, #CBD2D8)');
		}
	}
}


@if mgwt.os ipad {
	body {
		background-color: #E0E1E5;
	}
	
	@if user.agent safari {
		body {
			\-webkit-perspective: 800;
   			\-webkit-transform-style: preserve-3d;
		}
	}
	
	@if user.agent gecko1_8 {
		body {
			
		}
	}
}

@if mgwt.os  desktop {
	body {
		background-color: #E0E1E5;
	}
}



@if mgwt.os android android_tablet {
	body {
		color:white;
		background-attachment: fixed;
	}
	
	@if user.agent safari {
		body {
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#000000), to(rgb(46, 54, 60)))');
		}
	}
	
	@if user.agent gecko1_8 {
		body {
			background-image: literal('-moz-linear-gradient(top, #000000, rgb(46, 54, 60))');
		}
	}
	
	input:FOCUS, button:FOCUS {
		outline: none;
	}	
	
	button {
	 outline: none;
	}
	
}

@if mgwt.os blackberry {
	body {
		background-color: black;
	}
}


