@external body, *;
* {
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
}

@if user.agent safari {
	* {
		\-webkit-user-select: none;
		\-webkit-text-size-adjust: none;
		\-webkit-touch-callout: none;
		\-webkit-text-size-adjust: none;
	}
	
	input , textarea{
		\-webkit-user-select: text;
	}
}

@if user.agent gecko1_8 {
	* {
		\-moz-user-select: none;
	}
	
	input, textarea {
		\-moz-user-select: text;
	}
}

body {
	width: 100%;
	height: 100%;
	position: absolute;
}

@if mgwt.os desktop {
	body {
		background-color: #E0E1E5;
	}
}