

@if mgwt.css pretty {
	@external mgwt-ProgressIndicator;
	
}


.mgwt-ProgressIndicator {
	width: 50px;
	height: 50px;
	\-webkit-animation-duration: 1s;
    \-webkit-animation-iteration-count: infinite;
    \-webkit-animation-timing-function: linear;
    \-webkit-animation-name: progressIndicatorAnimation;
	
}


@if mgwt.os android android_tablet blackberry {
	@url spinnerWhite spinnerWhiteImage;
	.mgwt-ProgressIndicator {
		background-image: spinnerWhite;
	}
	
} @else {
	@url spinner spinnerImage;
	.mgwt-ProgressIndicator {
		background-image: spinner;
	}	
}


@-webkit-keyframes progressIndicatorAnimation {

    0% { -webkit-transform: rotate(0deg); }
    8.2% { -webkit-transform: rotate(0deg); }
    
    8.3% { -webkit-transform: rotate(30deg); }
    16.5% { -webkit-transform: rotate(30deg); }
    
    16.6% { -webkit-transform: rotate(60deg); }
    24.9% { -webkit-transform: rotate(60deg); }
    
    25% { -webkit-transform: rotate(90deg); }
    33.2% { -webkit-transform: rotate(90deg); }
    
    33.3% { -webkit-transform: rotate(120deg); }
    41.5% { -webkit-transform: rotate(120deg); }
    
    41.6% { -webkit-transform: rotate(150deg); }
    49.9% { -webkit-transform: rotate(150deg); }
    
    50% { -webkit-transform: rotate(180deg); }
    58.2% { -webkit-transform: rotate(180deg); }
    
    58.3% { -webkit-transform: rotate(210deg); }
    66.5% { -webkit-transform: rotate(210deg); }
    
    66.6% { -webkit-transform: rotate(240deg); }
    74.9% { -webkit-transform: rotate(240deg); }
    
    75% { -webkit-transform: rotate(270deg); }
    83.2% { -webkit-transform: rotate(270deg); }
    
    83.3% { -webkit-transform: rotate(300deg); }
    91.5% { -webkit-transform: rotate(300deg); }
    
    91.6% { -webkit-transform: rotate(330deg); }
    99.90% { -webkit-transform: rotate(330deg); }
    
    99.91% { -webkit-transform: rotate(360deg); }
    100% { -webkit-transform: rotate(360deg); }

    

}