@url nextSlideImage buttonBarNextSlideImage;
@url error errorImage;

@if mgwt.css pretty {
	@external pullToRefresh, arrow, mgwt-arrowUp, arrowDown;
}



.pullToRefresh{
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
}


.pullToRefresh .arrow {
	position: absolute;
	
	margin-left: 50px;
	top: 20px;
	width: 40px;
	height: 40px;
	background-image: nextSlideImage;
	background-repeat: no-repeat;
	
	\-webkit-transform-origin: 12px 9px;
}


@if mgwt.os iphone desktop ipad { 
	.pullToRefresh .arrow {
		\-webkit-transform: rotate(90deg) translateZ(0);
	}
} @else {
	.pullToRefresh .arrow {
	\-webkit-transform: rotate(90deg);
	}
}


.pullToRefresh .spinner{
	position: absolute;
	margin-left: 50px;
	top: 10px;
	width: 50px;
	height: 50px;

	
}


.pullToRefresh .error{
	position: absolute;
	margin-left: 50px;
	top: 15px;
	width: 50px;
	height: 50px;
	background-image: error;
	background-repeat: no-repeat;
	
}





.pullToRefresh .text{
	position: absolute;
	top: 20px;
	left: 110px;
	display: inline-block;
	font-size: 20px;
}







