@if mgwt.css pretty {
	@external mgwt-Slider, mgwt-Slider-bar, mgwt-Slider-pointer;
	
}


.mgwt-Slider {
	display: inline-block;
	width: 277px;
	padding-top: 10px;
	padding-bottom: 10px;
}


@if mgwt.os desktop ipad iphone retina {
	
	
	.mgwt-Slider .mgwt-Slider-bar{
		position: relative;
		height: 9px;
		background-repeat: no-repeat, repeat-x;
			
	}
	
	@if user.agent safari {
		.mgwt-Slider .mgwt-Slider-bar{
			\-webkit-box-sizing: padding-box;
			\-webkit-box-shadow: 2px 2px 4px #666666;
			\-webkit-border-radius: 4px;
			background-image: literal('-webkit-gradient(linear, left top ,left bottom, from(#0a3b87), color-stop(.5, #4c8de7), color-stop(.95, #6babf5), to(#0a3b87)), -webkit-gradient(linear, left top ,left bottom, from(#929292), color-stop(.5, #f0f0f0), color-stop(.5, #fff), color-stop(.95, #fff), to(#929292))');
			
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-Slider .mgwt-Slider-bar{
			\-moz-box-sizing: padding-box;
			\-moz-box-shadow: 2px 2px 4px #666666;
			\-moz-border-radius: 4px;
			background-image: literal('-moz-linear-gradient(top, #0a3b87 , #4c8de7 50%, #6babf5 95%, #0a3b87 96%), -moz-linear-gradient(top, #929292, #f0f0f0 50%, #fff 51%, #fff 95%, #929292 100%)');
			
		}
	}
	
	
	.mgwt-Slider .mgwt-Slider-pointer {
		position:relative;
		height:20px;
		width:20px;
		left: -10px;
		top: -6px;
		
		
	}
	
	@if user.agent safari {
		.mgwt-Slider .mgwt-Slider-pointer{
			\-webkit-tap-highlight-color: transparent;
			\-webkit-box-shadow: 2px 2px 3px #666666;
			\-webkit-border-radius: 10px;
			background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#aaaaaa), color-stop(.5, #eeeeee), to(#cccccc))');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-Slider .mgwt-Slider-pointer{
			\-moz-tap-highlight-color: transparent;
			\-moz-box-shadow: 2px 2px 3px #666666;
			\-moz-border-radius: 10px;
			background-image: literal('-moz-linear-gradient(top, #aaaaaa,  #eeeeee 50%, #cccccc)');
		}
	}
	
}

@if mgwt.os android android_tablet {
	
	
	.mgwt-Slider .mgwt-Slider-bar{
		position: relative;
		height: 4px;
		background-repeat: repeat-x;
		
		
		
	}
	
	@if user.agent safari {
		.mgwt-Slider .mgwt-Slider-bar{
			\-webkit-box-sizing: padding-box;
			background-image: literal('-webkit-gradient(linear, left top ,left bottom, from(rgb(146, 199, 0)), to(rgb(126, 179, 0)))');
		
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-Slider .mgwt-Slider-bar{
			\-moz-box-sizing: padding-box;
			background-image: literal('-moz-linear-gradient(top,  rgb(146, 199, 0), rgb(126, 179, 0))');
		
		}
	}
	
	.mgwt-Slider .mgwt-Slider-pointer {
		position:relative;
		height:26px;
		width:26px;
		left: -10px;
		top: -12px;
		border: 1px solid rgba(255,255,255,0.5);
	}
	
	@if user.agent safari {
		.mgwt-Slider .mgwt-Slider-pointer {
			\-webkit-tap-highlight-color: transparent;
			\-webkit-border-radius: 15px;
			background-image: literal('-webkit-gradient(radial, 50% 50%, 3, 50% 50%, 8, from(rgb(146, 199, 0)), color-stop(0.1, rgb(146, 199, 0)), color-stop(0.1, rgba(126, 179, 0, 0.7)), color-stop(0.15, rgba(255, 255, 255, 1)) ,color-stop(0.16, rgba(126, 179, 0, 0.3)), to(rgba(126, 179, 0, 0.4)))');
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-Slider .mgwt-Slider-pointer {
			\-moz-tap-highlight-color: transparent;
			\-moz-border-radius: 15px;
			background-image: literal('-moz-radial-gradient(radial, 50% 50%, 0, circle closest-side , rgb(146, 199, 0), rgb(146, 199, 0) 10% , rgba(126, 179, 0, 0.7) 11%,  rgba(255, 255, 255, 1) 15%  , rgba(126, 179, 0, 0.3) 16%, rgba(126, 179, 0, 0.4))');
		}
	}
}


/*TODO*/
@if mgwt.os blackberry {
	
	
	.mgwt-Slider .mgwt-Slider-bar{
		position: relative;
		height: 4px;
		\-webkit-box-sizing: padding-box;
		
		
		background-repeat: repeat-x;
		background-image: literal('-webkit-gradient(linear, left top ,left bottom, from(rgb(0, 92, 176)), to(rgb(0, 72, 156)))');
		
	}
	
	.mgwt-Slider .mgwt-Slider-pointer {
		position:relative;
		height:26px;
		width:26px;
		left: -10px;
		top: -12px;
		\-webkit-tap-highlight-color: transparent;
		
		\-webkit-border-radius: 15px;
		border: 1px solid rgba(255,255,255,0.5);
		
		background-image: literal('-webkit-gradient(radial, 50% 50%, 3, 50% 50%, 8, from(rgb(0, 92, 176)), color-stop(0.1, rgb(0, 92, 176)), color-stop(0.1, rgba(0, 92, 176, 0.7)), color-stop(0.15, rgba(255, 255, 255, 1)) ,color-stop(0.16, rgba(0, 92, 176, 0.3)), to(rgba(0, 92, 176, 0.4)))');
		/*
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#aaaaaa), color-stop(.5, #eeeeee), to(#cccccc))');
		*/
	}
}



