@if mgwt.css pretty {
	@external mgwt-TabBar, mgwt-TabPanel;
	@external mgwt-TabBar-Button, mgwt-TabBar-Button-active, mgwt-TabBar-Button-selected, mgwt-TabBar-Button-icon, mgwt-TabBar-Button-text;
}

.mgwt-TabPanel{
	display: \-webkit-box;
	\-webkit-box-flex: 1;
	\-webkit-box-orient: vertical;
	width: 100%;
	height: 100%;
}

.mgwt-TabPanel-container{
	display: \-webkit-box;
	\-webkit-box-flex: 1;
	\-webkit-box-orient: vertical;
	overflow: hidden;
}

.mgwt-TabBar {
	
	display: \-webkit-box;
	\-webkit-box-orient: horizontal;
}

@if user.agent safari {
	.mgwt-TabBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
	}
}

@if user.agent gecko1_8 {
	.mgwt-TabBar {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
	}
}


.mgwt-TabBar-Button-active {
	
}

.mgwt-TabBar-Button-selected {
	
}

.mgwt-TabBar-Button {
	min-width: 60px;
	background-color: transparent;
	box-sizing: content-box;
}

@if user.agent safari {
	.mgwt-TabBar-Button {
		\-webkit-appearance: none;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-TabBar-Button {
		\-moz-appearance: none;
		\-moz-box-flex: 1;
	}
}