@if mgwt.css pretty {
	@external mgwt-TabBar;
}

.mgwt-TabBar {
	height: 48px;
	display: \-webkit-box;
	\-webkit-box-orient: horizontal;
	overflow: hidden;
}

@if user.agent safari {
	.mgwt-TabBar {
		display: \-webkit-box;
		\-webkit-box-orient: horizontal;
	}
}

@if user.agent gecko1_8 {
	.mgwt-TabBar {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
	}
}