.mgwt-Button {
	color: black;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

.mgwt-Button-active {
	color: #fff;
}

@if user.agent safari {
	.mgwt-Button {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(180, 180, 180)), to(rgb(160, 160, 160)) )');
	}
	.mgwt-Button-active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(82, 163, 196)), to(rgb(62, 143, 176)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button {
		\-moz-border-radius: 4px;
		border-radius: 4px;
		background-image: literal('-moz-linear-gradient(top, rgb(180, 180, 180), rgb(160, 160, 160))');
	}
	.mgwt-Button-active {
		background-image: literal('-moz-linear-gradient(top, rgb(82, 163, 196), rgb(62, 143, 176))');
	}
}

.mgwt-Button-important {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

@if user.agent safari {
	.mgwt-Button-important {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,59,59,0.70)),  to(rgba(255,0,0,0.80)))');
	}
	.mgwt-Button-important.mgwt-Button-active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,30,30,0.80)), to(rgba(255,0,0,0.90)))');
		color: #fff;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button-important {
		background-image: literal('-moz-linear-gradient(top, rgba(255,59,59,0.70),  rgba(255,0,0,0.80))');
	}
	.mgwt-Button-important.mgwt-Button-active {
		background-image: literal('-moz-linear-gradient(top, rgba(255,30,30,0.80), rgba(255,0,0,0.90))');
		color: #fff;
	}
}

.mgwt-Button-confirm {
	border: 1px solid rgba(0, 0, 0, 0.5);
}

@if user.agent safari {
	.mgwt-Button-confirm {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(115,239,115,0.70)), to(rgba(0,150,0,0.80)))');
	}
	.mgwt-Button-confirm.mgwt-Button-active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(100,220,100,0.70)), to(rgba(0,100,0,0.80)))');
		color: #fff;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button-confirm {
		background-image: literal('-moz-linear-gradient(top, rgba(115,239,115,0.70), rgba(0,150,0,0.80))');
	}
	.mgwt-Button-confirm.mgwt-Button-active {
		background-image: literal('-moz-linear-gradient(top, rgba(100,220,100,0.70), rgba(0,100,0,0.80))');
		color: #fff;
	}
}

.mgwt-Button-round {
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	border-top-left-radius: 16px 16px;
	border-top-right-radius: 16px 16px;
}

.mgwt-Button-disabled {   
   color: #808080;   
}
