.mgwt-Button {
  border: none;
  color: #0C63FE;
  font-weight: bold;
  background-color: #F2F2F2;
}

.mgwt-Button-active {
  color: #0C63FE;
}

.mgwt-Button-important {
  color: #FA2619;
}

.mgwt-Button-confirm {
  color: #41D452;
  border: none;
}

.mgwt-Button-disabled {   
  color: #808080;   
}

.mgwt-Button.mgwt-Button-active {
  background-color: white;
  box-shadow: none;
}

.mgwt-Button-important.mgwt-Button-active {
  background-color: white;
  box-shadow: none;
}

.mgwt-Button-confirm.mgwt-Button-active {
  background-color: white;
  color: #41D452;
  box-shadow: none;
}
