@def ICON_BACKGROUND_COLOR #0D66FB;
@def ICON_BACKGROUND_COLOR_ACTIVE #B2D0F7;


.mgwt-ImageButton {
  color: #0c63fe;
  background-color: #f2f2f2;
  box-shadow: none;
  border: none;
}

.mgwt-ImageButton-active {
  box-shadow: none;
  background-color: white;
  color: ICON_BACKGROUND_COLOR_ACTIVE;
}
