@if mgwt.css pretty {
	@external mgwt-Carousel, mgwt-Carousel-Scroller, mgwt-Carousel-Container, mgwt-Carousel-Indicator-Container, .mgwt-Carousel-Indicator, mgwt-Carousel-Indicator-active, mgwt-Carousel-Holder;
}


@if user.agent safari {
  .mgwt-Carousel {
    display: -webkit-box; /* iOS < 7 && Android < 4.4*/
    display: -webkit-flex;
    -webkit-box-flex: 1; /* iOS < 7 && Android < 4.4*/
    -webkit-flex: 1;
  }
}

.mgwt-Carousel {
    flex:1;
    flex-flow: column;
    overflow: visible;
}

@if user.agent safari {
  .mgwt-Carousel-Scroller, .mgwt-Carousel-Container  {
    -webkit-box-flex: 1; /* iOS < 7 && Android < 4.4*/
    -webkit-flex: 1;
  }
}

.mgwt-Carousel-Scroller {
    flex: 1
}

.mgwt-Carousel-Container {
	flex: 1;
}

.mgwt-Carousel-Holder {
	position: absolute;
	height: 100%;
}

.mgwt-Carousel-Indicator-Container {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

@if user.agent safari {
	.mgwt-Carousel-Indicator-Container {
		display: \-webkit-box;
		\-webkit-box-pack: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Carousel-Indicator-Container {
		display: \-moz-box;
		\-moz-box-pack: center;
	}
}

.mgwt-Carousel-Indicator {
	width: 8px;
	height: 8px;
	background-color: #d3d3d3;
	border-radius: 4px;
	margin: 4px;
}

.mgwt-Carousel-Indicator-active {
	background-color: #757575;
}
