mgwt-showcase/.classpath
mgwt-showcase/.project
mgwt-showcase/.settings/
mgwt-showcase/war/WEB-INF/
mgwt-showcase/target/
mgwt-showcase/gwt-unitCache/
mgwt-showcase/war/showcase/
mgwt/.classpath
mgwt/.settings/
mgwt/.project
mgwt/target/
mgwt-contact-app/.classpath
mgwt-contact-app/.project
mgwt-contact-app/.settings/
mgwt-contact-app/gwt-unitCache/
mgwt-contact-app/target/
mgwt-contact-app/war/
mgwt-contact-app/extras/
mgwt-showcase/extras/
