@if mgwt.css pretty {
	@external mgwt-DialogAnimationContainer-Shadow, mgwt-DialogAnimationContainer, mgwt-DialogAnimationContainer-center;
	@external mgwt-DialogPanel, mgwt-Dialog, container, title, content, footer, mgwt-BottomPanel, shadow, z_index;
}

.z_index {
	z-index: 100;
}

.mgwt-DialogAnimationContainer-Shadow {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

@if user.agent safari {
	.mgwt-DialogAnimationContainer {
		display: -webkit-box;
		height: 100%;
		overflow: hidden;
	}
	.mgwt-DialogAnimationContainer-center {
		\-webkit-box-orient: horizontal;
		\-webkit-box-pack: center;
		\-webkit-box-align: center;
	}
}

@if user.agent gecko1_8 {
	.mgwt-DialogAnimationContainer {
		
	}
	.mgwt-DialogAnimationContainer-center {
		\-moz-box-orient: horizontal;
		\-moz-box-pack: center;
		\-moz-box-align: center;
		display: -moz-box;
		width: 100%;
		height: 100%;
	}
}

.mgwt-BottomPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: literal('-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(50, 74, 103, 0.9)), color-stop(0.02, rgba(20, 25, 35, 0.9) ), to(rgba(0, 0, 0, 0.0) ) )');
	border-top: 1px solid #030506;
	padding: 10px;
}

/* other browsers */
@if user.agent ie6 ie8 ie9 ie10 gecko opera {
	.mgwt-DialogAnimationContainer {
		
	}
	.mgwt-DialogAnimationContainer-center {
		
	}
}

.mgwt-DialogPanel {
	border: solid 1px #72767b;
	padding: 0px;
	opacity: 1;
	background-color: #d2d6d6;
    border: 1px solid #9daca9;
    color: #454545;
    border-radius: 5px;
    min-width: 150px;
}


.mgwt-DialogPanel .container {
	color: #ffffff;
	padding: 5px;
}





.mgwt-DialogPanel .title {
	color: #ffffff;
	background: none;
	border: none;
	text-align: center;
	font-size: 19px;
	margin-bottom: 20px;
}



.mgwt-DialogPanel .content {
	margin: 10px;
	text-align: center;
}

.mgwt-DialogPanel .footer {
	margin-top: 10px;
	display: -webkit-box; /* iOS < 7 && Android < 4.4*/
  	display: -moz-box;
  	display: -ms-flexbox;
  	display: -webkit-flex;
  	display: flex;
  	-webkit-box-pack: center; /* iOS < 7 && Android < 4.4*/
  	-webkit-justify-content: center;
  	-moz-justify-content: center;
  	justify-content: center;
}

