@if mgwt.css pretty {
	@external mgwt-Form, mgwt-Form-Entry-first, mgwt-Form-Entry-last, mgwt-Form-round,mgwt-Form-Entry, mgwt-Form-Entry-label, mgwt-Form-Entry-container, mgwt-Form-Entry-invalid;
}

.mgwt-Form {
	position: relative;
	list-style: none;
	border-collapse: collapse;
}

.mgwt-Form-Entry {
	position: relative;
	list-style-type: none;
	display: block;
	overflow: hidden;
	width: auto;
}

.mgwt-Form-round {
  margin: 12px;
}

.mgwt-Form-Entry-first {
	
}

.mgwt-Form-Entry-last {
	
}

.mgwt-Form-Entry{
}


@if user.agent safari {
	.mgwt-Form-Entry {
		display: \-webkit-box;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Form-Entry {
		width: 100%;
	}
}

	
.mgwt-Form-Entry-label {
	padding: 10px;
	overflow:hidden;
	text-overflow: ellipsis;
}

@if user.agent safari {
	.mgwt-Form-Entry-label {
		width: 30%;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Form-Entry-label {
		width: 30%;
		display: \-moz-box;
	}
}


.mgwt-Form-Entry-container {
	padding: 10px;
}

@if user.agent safari {
	.mgwt-Form-Entry-container {
		\-webkit-box-flex: 1;
		\-webkit-box-pack: end;
		display: \-webkit-box;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Form-Entry-container {
		\-moz-box-flex: 1;
		\-moz-box-pack: end;
		display: \-moz-box;
	}
}

.mgwt-Form-Entry-invalid{}