.mgwt-Form-Entry {
	background-color: white;
	border: 1px solid rgb(171, 173, 176);
	border-bottom: none;
}


.mgwt-Form-round > .mgwt-Form-Entry-first {
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}

.mgwt-Form-round > .mgwt-Form-Entry-last {
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-bottom: 1px solid rgb(171, 173, 176);
}

.mgwt-Form-round > .mgwt-Form-Entry-first.mgwt-Form-Entry {
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	overflow: hidden;
}

.mgwt-Form-round > .mgwt-Form-Entry-last.mgwt-Form-Entry {
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	overflow: hidden;
}

.mgwt-Form-Entry-label{
	background-color: #f3f3f3;
}
