.mgwt-Form-Entry {
  background-color: transparent;
  color: white;
  border: none;
}

.mgwt-Form-Entry-container {
  border-bottom: 1px solid #52a3c4;
}

.mgwt-Form-Entry-label{
  background-color: #030303;
  color: #777;
  border-bottom: 1px solid #52a3c4;
}

.mgwt-Form-Header {
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #52a3c4;
  border-top: none;
}

.mgwt-Form-Entry-container {
  background-color: transparent;
}
