@if mgwt.css pretty {
  @external mgwt-TabBar, mgwt-TabPanel;
}

.mgwt-TabPanel {
  display: -webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  display: flex;
  flex: 1;
  flex-flow: column;
}

.mgwt-TabPanel-container {
  display: \-webkit-box;
  -webkit-box-flex: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: flex;
  flex:1;
}


@if user.agent safari {
  .mgwt-TabBar {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
  }
}
@if user.agent gecko1_8 {
  .mgwt-TabBar {
    display: -moz-box;
    -moz-box-orient: horizontal;
  }
}
.mgwt-TabBar {
  display: flex;
  justify-content: space-around;
  height: 48px;
  border-top: 1px solid black;
  background-color: #e5e9e8;
}
