.mgwt-Slider-bar {
  height: 4px;
  background-color: #4392B7;
  border: none;
}
	

.mgwt-Slider-pointer {
  position: relative;
  height: 36px;
  width: 36px;
  left: -18px;
  top: -18px;
  border: 2px solid #62b3d4;
  border-radius: 50%;
  background-color: transparent;
}

@if user.agent safari {
  .mgwt-Slider-pointer {
    -webkit-tap-highlight-color: transparent;
    background-image: literal('-webkit-gradient(radial, 50% 50%, 3, 50% 50%, 8, from(rgba(43, 164, 222, 1)), color-stop(0.7, rgba(43, 164, 222, 1)), color-stop(0.7, rgba(43, 164, 222, 0.5)), to(rgba(43, 164, 222, 0.5)))');
  }
}

@if user.agent gecko1_8 {
  .mgwt-Slider-pointer {
    -moz-tap-highlight-color: transparent;
    background-image: literal('-moz-radial-gradient(radial, 50% 50%, 0, circle closest-side , rgba(43, 164, 222, 1), rgba(43, 164, 222, 1) 70% , rgba(43, 164, 222, 0.5) 70%,  rgba(43, 164, 222, 0.5))');
  }
}
