.mgwt-Slider-bar {
	position: relative;
	background-color: #0641FE;
	height: 2px;
	border: none;
}

.mgwt-Slider-pointer {
	position: relative;
	height: 28px;
	width: 28px;
	border-radius: 15px;
	top: -14.5px;
	left: -15px;
	border-color: #EAEAEA;
	box-shadow: -0.6px 2.5px 4px #C5C5C5;
	background-color: white;
}

