@if mgwt.css pretty {
	@external mgwt-HeaderPanel, mgwt-HeaderPanel-left, mgwt-HeaderPanel-right, mgwt-HeaderPanel-center, mgwt-DropDownMenu;
	@external mgwt-HeaderButton, active, back, forward, round;
}



.mgwt-HeaderPanel {
	
	background-color: baseColor;
	border-bottom: 1px solid rgba(0,0,0,0.5);
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.15)), to(rgba(255,255,255, 0.1)), color-stop(0.5, rgba(0,0,0, 0.1)) )');
}

.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
		
		color: fontColor;
		
		
	}


.mgwt-HeaderButton p { 
    color: fontColor; 
    text-shadow: none;
    background-color: baseColor;
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.5)), to(rgba(0,0,0, 0.5)) )');
}

.mgwt-HeaderButton.back span { 
    background: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.5)), to(rgba(0,0,0, 0.5)) )'); 
    
  
    
}

.mgwt-HeaderButton.active p {
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.7)), to(rgba(0,0,0, 0.7)) )');
}



.mgwt-HeaderButton.active span{
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.7)), to(rgba(0,0,0, 0.7)) )');
}



