@if mgwt.css pretty {
	@external mgwt-DropDownMenu, mgwt-DropDownMenu-content,  mgwt-DropDownMenu-arrow;
	
}

.mgwt-DropDownMenu {
	\-webkit-box-shadow: 2px 2px 10px rgba(0,0,0, 0.5);
	background-color: baseColor;
	border: solid 2px rgba(0,0, 0, 0.5);
}







.mgwt-DropDownMenu-arrow {

	border: solid 2px rgba(0,0, 0, 0.5);
	border-bottom: none;
	border-right: none;
	background-color: fontColor;
	
}