@external body, *;
* {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica, sans-serif;
}


body {
  margin: 0;
  padding: 0;
  background: #dfe2e2;
  color: #000;
  font-weight: 400;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}
