.mgwt-List > li {
	color: white;
	border-bottom: 1px solid rgb(50, 50, 50);
}



.mgwt-List-group.mgwt-List-selected {
	color: white;
	background-repeat: no-repeat;
	background-position: 0 49%;
	background-size: 100% 95%;
}

@if user.agent safari {
	.mgwt-List-group.mgwt-List-selected {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(11, 40, 94)), to(rgb(13, 41, 98)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-List-group.mgwt-List-selected {
		background-image: literal('-moz-linear-gradient(top, rgb(11, 40, 94), rgb(13, 41, 98))');
	}
}

.mgwt-List-Header {
	color: rgb(82, 163, 196);
	font-size: 18px;
	font-weight: bold;
	margin: 10px 20px 5px;
	text-shadow: rgba(255, 255, 255, 0.19);
}



.mgwt-FormList-Element-label{
	background-color: #030303;
	
}