.mgwt-TabBar {
	height: 40px;
	background-color: inherit;
	border-bottom: 2px solid rgb(82, 163, 196);
}

.mgwt-TabBar-Button {
	top: 10px;
	height: 30px;
	margin-left: 10px;
}

@if user.agent safari {
	.mgwt-TabBar-Button-selected {
		background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0)), color-stop(0.75, rgba(255,255,255,0)), color-stop(0.75, rgba(82, 163, 196, 1)), to(rgba(82, 163, 196, 1)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-TabBar-Button-selected {
		background-image: literal('-moz-linear-gradient(top, rgba(255,255,255,0), rgba(255,255,255,0) 75%, rgba(82, 163, 196, 1) 76%, rgba(82, 163, 196, 1))');
	}
}

.mgwt-TabBar-Button-text {
	white-space: \-webkit-nowrap;
	white-space: nowrap;
	font-size: 12px;
	color: white;
	text-align: center;
}

.mgwt-TabBar-Button-icon {
	
}