* {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
}

body {
	background-color:#C5CCD4;
      background-image: -webkit-gradient(linear, left top, right top, from(#C5CCD4), to(#CBD2D8), color-stop(0.6, #C5CCD4), color-stop(0.6, #CBD2D8));
     -webkit-background-size:7px 7px;
     background-repeat: repeat;
     width: 100%;
	height: 100%;
	/*width: 320px;
	min-height: 417px;*/
	position: absolute;
	/*
	-webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
    */
	
}
/*
.threedstuff {
-webkit-backface-visibility: hidden;

}*/

body.landscape {
	
	width: 100%;
	height: 100%;
	/*min-height: 269px; */	/* 1px more for scrolling!*/
}


.portrait .mgwt-constrainWidth {
	width: 320px;
}

.landscape .mgwt-constrainWidth {
	width: 480px;
}


/**
browser with url bar
*/
.mgwt-ViewPort-normalscreen-portrait  .mgwt-constrainHeight {
	height: 356px;

}

.mgwt-ViewPort-normalscreen-landscape   .mgwt-constrainHeight {
	height: 208px;
	
}


/**
browser with url bar and header
*/
.mgwt-ViewPort-normalscreen-portrait  .mgwt-constrainHeight-header {
	height: 312px;
	
}

.mgwt-ViewPort-normalscreen-landscape   .mgwt-constrainHeight-header {
	height: 162px;
	
}


/**
fullscreen
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight {
	height: 460px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight {
	height: 300px;
}




		
		
		


/**
fullscreen with header
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight-header {
	height: 416px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight-header {
	height: 260px;
}


/**
fullscreen with header and bottom
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight-header-bottom {
	height: 372px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight-header-bottom {
	height: 216px;
}

/**
fullscreen with header and tab
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight-header-tab {
	height: 356px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight-header-tab {
	height: 200px;
}














/*
.list {
	position: relative;
	/*border: #878787 solid 1px;*/
	/*)
	margin: 3px 9px 17px;
	list-style: none;
}

.list li:first-child {
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
}

.list li {
	background-color: white;
	position: relative; height 43px;
	list-style-type: none;
	display: block;
	height: 43px;
	overflow: hidden;
	border: 1px solid rgb(171, 173, 176);
	width: auto;
	border-bottom-width: 0px;
}

.list li:last-child {
	-webkit-border-bottom-left-radius: 8px;
	-webkit-border-bottom-right-radius: 8px;
	border-bottom-width: 1px;
}
*/

.mgwt-ScrollPanel {
	overflow: hidden;
	position: relative;
}





.mgwt-ScrollPanel-container {
	-webkit-transition-property: -webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	border: 1px solid green;
	overflow: visible;
}

.mgwt-Scrollbar {
	position: absolute;
	z-index: 10;
	pointer-events: none;
	overflow: hidden;
	opacity: 0;
	-webkit-transition-duration: 300ms;
	-webkit-transition-delay: 0ms;
	-webkit-transition-property: opacity;
}

.mgwt-Scrollbar-horizontal {
	bottom: 2px;
	left: 2px;
	right: 7px;
	height: 5px;
}

.mgwt-Scrollbar-vertical {
	top: 2px;
	right: 2px;
	bottom: 7px;
	width: 5px;
}

.mgwt-Scrollbar-Bar {
	position: absolute;
	top: 0px;
	left: 0px;
	-webkit-transition-timing-function: cubic-bezier(0, 0, 0.25, 1);
	pointer-events: none;
	-webkit-transition-duration: 0;
	-webkit-transition-delay: 0;
	-webkit-transition-property: -webkit-transform;
	z-index: 10;
	background: rgba(0, 0, 0, 0.5);
}

.mgwt-Scrollbar-Bar-vertical {
	-webkit-border-radius: 2px 3px;
	min-width: 5px;
	min-height: 6px;
}

.mgwt-Scrollbar-Bar-horizontal {
	-webkit-border-radius: 3px 2px;
	min-width: 6px;
	min-height: 5px
}



.mgwt-roundPanel {
	-webkit-border-radius: 15px;
	background-color: white;
	border: 1px solid rgb(171, 173, 176);
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}



/*
.mgwt-TextBox input, .mgwt-PasswordTextBox input, .mgwt-TextArea input, .mgwt-ListBox {
 
    color: #777;
    background: transparent url(../.png);
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    -webkit-appearance: textarea;
    -webkit-user-select: text;
    

}
*/
.mgwt-TextBox, .mgwt-PasswordTextBox, .mgwt-TextArea{
    color: #777;
    background: transparent url(../.png);
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    -webkit-appearance: textarea;
    -webkit-user-select: text;
}
/*
.mgwt-TextBox .cover, .mgwt-PasswordTextBox .cover, .mgwt-TextArea .cover{
    position: absolute;
    width: 100%;
    height: 100%;
}
*/
.mgwt-ListBox{
-webkit-user-select: auto;
}



.mgwt-CheckBox label, ..mgwt-RadioButton label{
	 margin: 0;
    padding-left: 10px;
    -webkit-user-select: auto;
}

/** button */
.mgwt-Button {
	
	
	border: solid 3px rgb(110,110,110);
	-webkit-border-radius: 12px;
	-webkit-box-shadow: 2px 2px 3px #999; 
			
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(234,234,234,0.90)), color-stop(0.5, rgba(195,195,195,0.70)), color-stop(0.5, rgba(166,166,166,0.70)), to(rgba(167,167,167,0.80))); 
	color: #000;
	text-shadow: rgba(255, 255, 255, .6) 0 1px 0;
	
	padding: 9px 13px;
	margin: 5px;
	
	
	
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	
}

.mgwt-Button:active {
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(135,148,203,0.85)), color-stop(0.5, rgba(34,56,159,0.75)), color-stop(0.5, rgba(0,27,145,0.75)), to(rgba(2,59,152,0.65))); 
	color: #fff;
	text-shadow: #000 0 1px 0;
	-webkit-box-shadow: inset rgba(207,207,255,0.75) 0px 1px 1px;

}

.mgwt-Button-small{
padding: 5px 7px;
margin: 2px;
margin-left: 5px;
margin-right: 5px;
font-size: 12px;
}

.mgwt-Button-round {
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	border-top-left-radius: 16px 16px;
	border-top-right-radius: 16px 16px;
}

.mgwt-Button-important {

			-webkit-box-shadow: 2px 2px 3px #999; 
			
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,59,59,0.70)), color-stop(0.5, rgba(233,72,72,0.80)), color-stop(0.5, rgba(184,0,0,0.70)), to(rgba(255,0,0,0.80))); 
			color: #fff;
			text-shadow: #000 0 1px 0;
			
			padding: 9px 11px;

	
	
}

.mgwt-Button-important:ACTIVE {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255,30,30,0.80)), color-stop(0.5, rgba(233,40,40,0.90)), color-stop(0.5, rgba(184,0,0,0.80)), to(rgba(255,0,0,0.90))); 
			
			
			

}

.mgwt-Button-confirm {
	
			-webkit-box-shadow: 2px 2px 3px #999; 
			
			background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(115,239,115,0.70)), color-stop(0.5, rgba(73,171,14,0.60)), color-stop(0.5, rgba(0,113,0,0.70)), to(rgba(0,150,0,0.80))); 
			color: #fff;
			text-shadow: #000 0 1px 0;
			
			padding: 9px 11px;
}

.mgwt-Button-confirm:ACTIVE {
background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(135,148,203,0.85)), color-stop(0.5, rgba(34,56,159,0.75)), color-stop(0.5, rgba(0,27,145,0.75)), to(rgba(2,59,152,0.65))); 
			color: #fff;
			text-shadow: #000 0 1px 0;
			-webkit-box-shadow: inset rgba(207,207,255,0.75) 0px 1px 1px;
	
	
}





/***

animation stuff
**/
/*
.threedstuff{
 -webkit-perspective: 800;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    }
 */
 

 










/**
tab bar


*/
.mgwt-TabBar{
	width: 100%;
	height: 49px;
	background-image: url('../images/UITabBarBackgroundBlack.png');
	background-repeat: repeat-x;
}

.mgwt-TabBar-bottom{
	position: absolute;
	display: inline-block;
	bottom: 0px;
}

.mgwt-TabBarBookmarkButton, .mgwt-TabBarContactsButton, .mgwt-TabBarDownloadsButton, .mgwt-TabBarFavoritesButton, .mgwt-TabBarFeaturedButton, .mgwt-TabBarHistoryButton, .mgwt-TabBarMoreButton, .mgwt-TabBarMostRecentButton, .mgwt-TabBarMostViewedButton, .mgwt-TabBarSearchButton{
	display: inline-block;
	position: relative;
	min-width: 60px;
	font-size: 9px;
	color: #999995;
	padding-top: 33px;
	margin-top: 3px;
	text-align: center;
	
}

.mgwt-TabBarBookmarkButton{
	background-image: url('../images/tabbar/UITabBarBookmarks.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarBookmarkButton-selected{
	background-image: url('../images/tabbar/UITabBarBookmarksSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarContactsButton{
	background-image: url('../images/tabbar/UITabBarContacts.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarContactsButton-selected{
	background-image: url('../images/tabbar/UITabBarContactsSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarDownloadsButton{
	background-image: url('../images/tabbar/UITabBarDownloads.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarDownloadsButton-selected{
	background-image: url('../images/tabbar/UITabBarDownloadsSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}
.mgwt-TabBarFavoritesButton{
	background-image: url('../images/tabbar/UITabBarFavorites.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarFavoritesButton-selected{
	background-image: url('../images/tabbar/UITabBarFavoritesSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarFeaturedButton{
	background-image: url('../images/tabbar/UITabBarFeatured.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarFeaturedButton-selected{
	background-image: url('../images/tabbar/UITabBarFeaturedSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarHistoryButton{
	background-image: url('../images/tabbar/UITabBarHistory.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarHistoryButton-selected{
	background-image: url('../images/tabbar/UITabBarHistorySelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarMoreButton{
	background-image: url('../images/tabbar/UITabBarMore.png');
	background-position: 50% 15px;
	background-repeat: no-repeat;
}

.mgwt-TabBarMoreButton-selected{
	background-image: url('../images/tabbar/UITabBarMoreSelected.png');
	background-position: 50% 15px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarMostRecentButton{
	background-image: url('../images/tabbar/UITabBarMostRecent.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarMostRecentButton-selected{
	background-image: url('../images/tabbar/UITabBarMostRecentSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarMostViewedButton{
	background-image: url('../images/tabbar/UITabBarMostViewed.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarMostViewedButton-selected{
	background-image: url('../images/tabbar/UITabBarMostViewedSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

.mgwt-TabBarSearchButton{
	background-image: url('../images/tabbar/UITabBarSearch.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
}

.mgwt-TabBarSearchButton-selected{
	background-image: url('../images/tabbar/UITabBarSearchSelected.png');
	background-position: 50% 0px;
	background-repeat: no-repeat;
	color: white;
}

/*
Checkbox

*/

.mgwt-CheckBox {
	
	width: 94px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: justify;
	-webkit-tap-highlight-color: transparent;
	overflow: hidden;
	-webkit-border-radius: 6px;
	text-align: center;
	line-height: 28px;
	cursor: pointer;
	/*border: 1px solid red;*/
	-webkit-box-sizing: border-box;
}

.mgwt-CheckBox-middle {
	-webkit-transition: all 0.1s ease-in-out;
	-webkit-border-radius: 6px;
	position: relative;
	z-index: 1;
	border: solid 1px #929292;
}

.mgwt-CheckBox-middle-content {
	display: block;
	-webkit-box-sizing: border-box;
	position: relative;
	height: 25px;
	width: 38px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#cecece),
		to(#fcfcfc) );
	border-top: solid 1px #eeeeee;
	-webkit-border-radius: 7px;
	
}

.mgwt-CheckBox-on {
	position: relative;
	height: 25px;
	color: #ffffff;
	margin-right: -6px;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#295ab3),
		to(#76adfb) );
	width: 54px;
	padding-right: 4px;
	border: solid 1px #093888;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	
	-webkit-transition: all 0.1s ease-in-out;

}

.mgwt-CheckBox-off {
	position: relative;
	color: #666666;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b6b6b6),
		color-stop(0.50, #ffffff) );
	width: 54px;
	padding-left: 4px;
	border: solid 1px #a2a2a2;
	-webkit-border-top-right-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	margin-left: -6px;
	height: 25px;
	-webkit-transition: all 0.1s ease-in-out;

}



.mgwt-CheckBox-important .mgwt-CheckBox-on {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#e75f00),
		color-stop(.5, #fe9c12) );
	border: solid 1px #d87101;
}


.mgwt-CheckBox-notchecked .mgwt-CheckBox-middle {
    -webkit-transform: translate3d(-54px,0,0);
}

.mgwt-CheckBox-checked .mgwt-CheckBox-middle {
    -webkit-transform: translate3d(0px,0,0);
}

.mgwt-CheckBox-notchecked .mgwt-CheckBox-off {
    -webkit-transform: translate3d(-54px,0,0);
}

.mgwt-CheckBox-checked .mgwt-CheckBox-off {
    -webkit-transform: translate3d(10px,0,0);
}

.mgwt-CheckBox-notchecked .mgwt-CheckBox-on {
    -webkit-transform: translate3d(-62px,0,0);
}

.mgwt-CheckBox-checked .mgwt-CheckBox-on {
    -webkit-transform: translate3d(0px,0,0);
}

.mgwt-RadioButton {
	
}

.mgwt-RadioButton>input {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border: none;
}

.mgwt-RadioButton>input:CHECKED {
	-webkit-appearance: none;
	background-image:
		url('showcase/mgwt/iphone/images/UIPickerTableCellChecked.png');
	background-color: transparent;
}








/*popups*/
.mgwt-PopupPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(50, 74, 103, 0.9)
		), color-stop(0.02, rgba(20, 25, 35, 0.9) ),
		to(rgba(0, 0, 0, 0.0) ) );
	border-top: 1px solid #030506;
	padding: 10px;
}

.mgwt-PopupContainer {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.mgwt-PopupContainer-shadow {
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.4);
}
.mgwt-DialogPanel{
	display: table;
	width: 100%;
	height: 100%;
}

.mgwt-DialogPanel-cell {
	display: table-cell;
	vertical-align: middle;
}


.mgwt-DialogPanel-main {
	
	border: solid 1px #72767b;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 4px 6px #666666, 0 0 50px rgba(255, 255, 255, 1);
	padding: 0px;
	opacity: 1;
	width: 70%;
	max-width: 320px;
	z-index: 1001;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 15, 70, 0.5
		) ), to(rgba(0, 0, 70, 0.5) ) );
}

.mgwt-DialogPanel-container {
	color: #ffffff;
	text-shadow: 0px -1px 1px #000000;
	border: solid 2px #e6e6ee;
	-webkit-border-radius: 10px;
	padding: 10px;
	background-image: -webkit-gradient(radial, 50% -1180, 150, 50% -280, 1400, color-stop(0,
		rgba(140, 150, 170, 1) ), color-stop(0.48, rgba(140, 150, 170, 1) ),
		color-stop(0.499, rgba(75, 90, 120, .9) ),
		color-stop(0.5, rgba(75, 90, 120, 0) ) );
}

.mgwt-DialogPanel-title {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	color: #ffffff;
	background: none;
	border: none;
	text-shadow: 0px -2px 1px #000000;
	width: 100%;
	text-align: center;
	font-size: 19px;
	margin-bottom: 20px;
}

.mgwt-DialogPanel-content {
	margin: 10px;
}

.mgwt-DialogPanel-footer {
	-webkit-box-pack: justify;
	margin-top: 10px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-sizing: border-box;
}

.mgwt-DialogPanel-button {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	-webkit-box-flex: 2;
	margin-top: 10px;
	margin-right: 5px;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 8px;
	text-shadow: 0px -2px 1px #000000;
}

.mgwt-DialogPanel-okbutton {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0b5c5),
		color-stop(0.5, #7a839b), color-stop(0.5, #515d7c), to(#636e8a) );
}

.mgwt-DialogPanel-cancelbutton {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#828ba3),
		color-stop(0.5, #4c5a7c), color-stop(0.5, #27375f), to(#2e3d64) );
}

.mgwt-DialogPanel-cancelbutton:active,.mgwt-DialogPanel-okbutton:active
	{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#70747f),
		color-stop(0.5, #424857), color-stop(0.5, #171e30), to(#222839) );
}

