* {
	-webkit-user-select: none;
	-webkit-text-size-adjust: none;
	margin: 0px;
	padding: 0px;
	font-family: Helvetica;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;
}

body {
	background-color:#666666;
     
     width: 100%;
	height: 100%;
	/*width: 320px;
	min-height: 417px;*/
	position: absolute;
	
	
   
	
}



body.landscape {
	
	width: 100%;
	height: 100%;
	/*min-height: 269px; */	/* 1px more for scrolling!*/
}


.portrait .mgwt-constrainWidth {
	width: 320px;
}

.landscape .mgwt-constrainWidth {
	width: 480px;
}


/**
browser with url bar
*/
.mgwt-ViewPort-normalscreen-portrait  .mgwt-constrainHeight {
	height: 356px;

}

.mgwt-ViewPort-normalscreen-landscape   .mgwt-constrainHeight {
	height: 208px;
	
}


/**
browser with url bar and header
*/
.mgwt-ViewPort-normalscreen-portrait  .mgwt-constrainHeight-header {
	height: 312px;
	
}

.mgwt-ViewPort-normalscreen-landscape   .mgwt-constrainHeight-header {
	height: 162px;
	
}


/**
fullscreen
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight {
	height: 460px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight {
	height: 300px;
}




		
		
		


/**
fullscreen with header
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight-header {
	height: 416px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight-header {
	height: 260px;
}


/**
fullscreen with header and bottom
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight-header-bottom {
	height: 372px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight-header-bottom {
	height: 216px;
}

/**
fullscreen with header and tab
*/
.mgwt-ViewPort-fullscreen-portrait .mgwt-constrainHeight-header-tab {
	height: 356px;
}

.mgwt-ViewPort-fullscreen-landscape .mgwt-constrainHeight-header-tab {
	height: 200px;
}





.mgwt-roundPanel {
	-webkit-border-radius: 15px;
	background-color: #555555;
	border: 1px solid rgb(171, 173, 176);
	margin: 10px;
	padding: 10px;
	font-weight: bold;
	color: white;
}




.mgwt-TextBox, .mgwt-PasswordTextBox, .mgwt-TextArea, .mgwt-ListBox {
 
    color: #777;
    background: transparent url(../.png);
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    -webkit-appearance: textarea;
    -webkit-user-select: text;

}

.mgwt-ListBox{
-webkit-user-select: auto;
}



.mgwt-CheckBox label, ..mgwt-RadioButton label{
	 margin: 0;
    padding-left: 10px;
    -webkit-user-select: auto;
}





.mgwt-RadioButton {
	
}

.mgwt-RadioButton>input {
	-webkit-appearance: none;
	width: 18px;
	height: 18px;
	border: none;
}

.mgwt-RadioButton>input:CHECKED {
	-webkit-appearance: none;
	background-image:
		url('showcase/mgwt/iphone/images/UIPickerTableCellChecked.png');
	background-color: transparent;
}





/*popups*/
.mgwt-PopupPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: -webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(50, 74, 103, 0.9)
		), color-stop(0.02, rgba(20, 25, 35, 0.9) ),
		to(rgba(0, 0, 0, 0.0) ) );
	border-top: 1px solid #030506;
	padding: 10px;
}

.mgwt-PopupContainer {
	z-index: 100;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
}

.mgwt-PopupContainer-shadow {
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.4);
}
.mgwt-DialogPanel{
	display: table;
	width: 100%;
	height: 100%;
}

.mgwt-DialogPanel-cell {
	display: table-cell;
	vertical-align: middle;
}


.mgwt-DialogPanel-main {
	
	border: solid 1px #72767b;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 4px 6px #666666, 0 0 50px rgba(255, 255, 255, 1);
	padding: 0px;
	opacity: 1;
	width: 70%;
	max-width: 320px;
	z-index: 1001;
	margin-left: auto;
	margin-right: auto;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 15, 70, 0.5
		) ), to(rgba(0, 0, 70, 0.5) ) );
}

.mgwt-DialogPanel-container {
	color: #ffffff;
	text-shadow: 0px -1px 1px #000000;
	border: solid 2px #e6e6ee;
	-webkit-border-radius: 10px;
	padding: 10px;
	background-image: -webkit-gradient(radial, 50% -1180, 150, 50% -280, 1400, color-stop(0,
		rgba(140, 150, 170, 1) ), color-stop(0.48, rgba(140, 150, 170, 1) ),
		color-stop(0.499, rgba(75, 90, 120, .9) ),
		color-stop(0.5, rgba(75, 90, 120, 0) ) );
}

.mgwt-DialogPanel-title {
	-webkit-border-top-right-radius: 10px;
	-webkit-border-top-left-radius: 10px;
	color: #ffffff;
	background: none;
	border: none;
	text-shadow: 0px -2px 1px #000000;
	width: 100%;
	text-align: center;
	font-size: 19px;
	margin-bottom: 20px;
}

.mgwt-DialogPanel-content {
	margin: 10px;
}

.mgwt-DialogPanel-footer {
	-webkit-box-pack: justify;
	margin-top: 10px;
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-sizing: border-box;
}

.mgwt-DialogPanel-button {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	-webkit-box-flex: 2;
	margin-top: 10px;
	margin-right: 5px;
	height: 32px;
	line-height: 32px;
	-webkit-border-radius: 8px;
	text-shadow: 0px -2px 1px #000000;
}

.mgwt-DialogPanel-okbutton {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#b0b5c5),
		color-stop(0.5, #7a839b), color-stop(0.5, #515d7c), to(#636e8a) );
}

.mgwt-DialogPanel-cancelbutton {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#828ba3),
		color-stop(0.5, #4c5a7c), color-stop(0.5, #27375f), to(#2e3d64) );
}

.mgwt-DialogPanel-cancelbutton:active,.mgwt-DialogPanel-okbutton:active
	{
	background-image: -webkit-gradient(linear, left top, left bottom, from(#70747f),
		color-stop(0.5, #424857), color-stop(0.5, #171e30), to(#222839) );
}

