.main {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.wrap {
	position: absolute;
	width: 200%;
	height: 100%;
}

.menu {
	position: relative;
	display: inline-block;
	width: 40%;
	height: 100%;
	overflow: hidden;
}

.content {
	position: relative;
	display: inline-block;
	width: 50%;
	height: 100%;
	overflow: hidden;
}

@if user.agent safari {
	.opened {
		\-webkit-transform: translate3d(0, 0, 0);
	}
	.closed {
		\-webkit-transform: translate3d(-40%, 0, 0);
	}
}

@if user.agent gecko1_8 {
	.opened {
		\-moz-transform: translate3d(0, 0, 0);
	}
	.closed {
		\-moz-transform: translate3d(-40%, 0, 0);
	}
}

.opened {
	
}

.closed {
	
}