@if mgwt.css pretty {
	@external mgwt-Button, mgwt-Button-active, mgwt-Button-small, mgwt-Button-round, mgwt-Button-important, mgwt-Button-confirm, mgwt-Button-disabled;
}

.mgwt-Button {
	color: #454545;
	text-shadow: 0 1px #fff;
	display: block;
	position: relative;
	padding: 9px 13px;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 16px;
	text-align: center;
	background-color: #e5e9e8;
	box-shadow: inset 0 1px #fff;
	border: 1px solid #9daca9;
	border-radius: 6px;
}

.mgwt-Button-small {
	padding: 5px 7px;
	margin: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
}

.mgwt-Button-round {
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	border-top-left-radius: 16px 16px;
	border-top-right-radius: 16px 16px;
}

.mgwt-Button-active {
	color: #eff1f1;
	border: 1px solid #0036ff;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36), 0 0 0 2px #6fb5f1;
	outline: 0;
}

.mgwt-Button-important {
	border: 1px solid #134f7e;
	background-color: #288ede;
	box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
	font-weight: 500;
	color: #fff;
	text-shadow: 0 -1px rgba(0, 0, 0, 0.36);
}

.mgwt-Button-important.mgwt-Button-active {
	background-color: #1e7dc8;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
}

.mgwt-Button-confirm {
  border: 1px solid #404E00;
  background-color: #738D01;
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.36);
  color: #fff;
  font-weight: 500;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.36);
}

.mgwt-Button-confirm.mgwt-Button-active {
	background-color: #739D01;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.12);
}

.mgwt-Button-round {
	border-radius: 16px;
}

.mgwt-Button-disabled {
	opacity: 0.25;
}