@if mgwt.css pretty {
  @external mgwt-HeaderPanel;
}

.mgwt-HeaderPanel {
  width: 100%;
}

.mgwt-HeaderPanel {
  height: 40px;
  border-bottom: 1px solid rgb(45, 54, 66);
  background: #e5e9e8;
  color: #454545;
}
