@if mgwt.css pretty {
	@external mgwt-HeaderPanel, mgwt-HeaderPanel-left, mgwt-HeaderPanel-right, mgwt-HeaderPanel-center, mgwt-DropDownMenu;
}

.mgwt-HeaderPanel {
	position: relative;
	width: 100%;
}

.mgwt-HeaderPanel-left {
	position: absolute;
}

.mgwt-HeaderPanel-right {
	position: absolute;
}

.mgwt-HeaderPanel-center {
	position: absolute;
	left: 50%;
}

.mgwt-HeaderPanel {
	height: 40px;
	border-bottom: 1px solid rgb(45, 54, 66);
	background: #e5e9e8;
  	color: #454545;
  	box-shadow: inset 0 -1px #9daca9, 0 1px #d6dcdb;
}


.mgwt-HeaderPanel-left {
	top: 0px;
	left: 6px;
}

.mgwt-HeaderPanel-right {
	top: 0px;
	right: 6px;
}

.mgwt-HeaderPanel-center {
	left: 50%;
	height: 31px;
	width: 310px;
	margin-top: 6px;
	margin-left: -150px;
	margin-right: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	font-size: 16pt;
	font-weight: bold;
}