.mgwt-ButtonBar {
	height: 49px;
	border-top: 1px solid rgb(45, 54, 66);
}

@if user.agent safari {
	.mgwt-ButtonBar {
		background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(176, 188, 205, 1)), to(rgba(129, 149, 175, 1)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-ButtonBar {
		background-image: literal('-moz-linear-gradient(top, rgba(176, 188, 205, 1), rgba(129, 149, 175, 1))');
	}
}