
.mgwt-ButtonBar {
	
	background-color: baseColor;
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

@if user.agent safari {
	.mgwt-ButtonBar {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.15)), to(rgba(255,255,255, 0.1)), color-stop(0.5, rgba(0,0,0, 0.1)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-ButtonBar {
		background-image: literal('-moz-linear-gradient(top, rgba(255,255,255, 0.15), rgba(0,0,0, 0.1) 50%, rgba(255,255,255, 0.1))');
	}
}





.mgwt-ButtonBar .text{
	color: fontColor;
}












