
.mgwt-Button {
	border: solid 1px rgba(0,0,0, 0.5);
	background-color: baseColor;
	color: fontColor;
}


@if user.agent safari {
	.mgwt-Button {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255, 255, 0.35)), color-stop(0.5, rgba(255,255, 255, 0.15)),  to(rgba(255,255, 255, 0.35)))'); 
	}
	
	.mgwt-Button.active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255, 255, 0.20)), color-stop(0.5, rgba(0,0,0,0.10)),  to(rgba(255,255, 255, 0.20)))'); 
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button {
		background-image: literal('-moz-linear-gradient(top, rgba(255,255, 255, 0.35), rgba(255,255, 255, 0.15) 50%,  rgba(255,255, 255, 0.35))'); 
	}
	
	.mgwt-Button.active {
		background-image: literal('-moz-linear-gradient(top, rgba(255,255, 255, 0.20), rgba(0,0,0,0.10) 50%,  rgba(255,255, 255, 0.20))'); 
	}
}








