.mgwt-RoundPanel {
	background-color: baseColor;
	border: 1px solid rgba(0, 0, 0, 0.5);
}

@if user.agent safari {
	.mgwt-RoundPanel {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.3)), to(rgba(255,255,255, 0.3)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-RoundPanel {
		background-image: literal('-moz-linear-gradient(ltop, rgba(255,255,255, 0.3), rgba(255,255,255, 0.3) )');
	}
}


