.mgwt-Slider .mgwt-Slider-bar{
	background-repeat: repeat-x;
	background-color: baseColor;
}

@if user.agent safari {
	.mgwt-Slider .mgwt-Slider-bar{
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255, 255, 0.35)), color-stop(0.5, rgba(255,255, 255, 0.15)),  to(rgba(255,255, 255, 0.35)))'); 
	}
}

@if user.agent gecko1_8 {
	.mgwt-Slider .mgwt-Slider-bar{
		background-image: literal('-moz-linear-gradient(top, rgba(255,255, 255, 0.35), rgba(255,255, 255, 0.15) 50%,  rgba(255,255, 255, 0.35))'); 
	}
}


.mgwt-Slider .mgwt-Slider-pointer {
	background-color: fontColor;
	border: 1px solid rgba(0,0,0, 0.5);
}

@if user.agent safari {
	.mgwt-Slider .mgwt-Slider-pointer{
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.15)), color-stop(.5, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.1)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-Slider .mgwt-Slider-pointer{
		background-image: literal('-moz-linear-gradient(top, rgba(0,0,0, 0.15), rgba(0,0,0, 0.05) 50%, rgba(0,0,0, 0.1))');
	}
}