
.mgwt-TabBar{
	
	background-color: baseColor;
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.15)), to(rgba(255,255,255, 0.1)), color-stop(0.5, rgba(0,0,0, 0.1)) )');
	
	color: fontColor;
}

@if user.agent safari {
	.mgwt-TabBar{
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255, 0.15)), to(rgba(255,255,255, 0.1)), color-stop(0.5, rgba(0,0,0, 0.1)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-TabBar{
		background-image: literal('-moz-linear-gradient(top, rgba(255,255,255, 0.15), rgba(0,0,0, 0.1) 50%, rgba(255,255,255, 0.1) )');
	}
}


