.mgwt-LayoutPanel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.mgwt-RootLayoutPanel {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-flex-flow: column;
  flex-flow: column;
}

.mgwt-LayoutPanel-flex {
  -webkit-flex: 1;
  flex: 1;
}




/* .mgwt-LayoutPanel-flex-flow-row { */
/*   flex-flow: row; */
/* } */

/* .mgwt-LayoutPanel-flex-flow-column { */
/*   flex-flow: column; */
/* } */





/* .mgwt-LayoutPanel-align { */
/*   flex-flow: column; */
/* } */


.mgwt-LayoutPanel-vertical-fill {
  
}

.mgwt-LayoutPanel-horizontal-fill {
	
}

.mgwt-LayoutPanel-fill-parent {
  
}