.mgwt-DialogButton {
  background-color: #E1E1E1;
  color: #0D66FB;
  border: none;
  border-top: 1px solid #B2B2B1;
  border-right: 1px solid #B2B2B1;
  border-radius: 0px;
  margin-left: 0;
  margin-bottom: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.mgwt-DialogButton:last-child {
  border-right: none;
}

.mgwt-DialogButton-ok,.mgwt-DialogButton-cancel {
  
}

.mgwt-DialogButton-active {
  background-color: #D0D0D0;
  box-shadow: none;
}
