.mgwt-DialogPanel {
  background-color: #E0E0E0;
  color: black;
}

.mgwt-DialogPanel-container {
  color: black;
  padding: 0;
}

.mgwt-DialogPanel-title {
  margin-top: 10px;
  color: black;
}

.mgwt-DialogPanel-content {
  padding: 10px;
  margin: 0;
}

.mgwt-DialogPanel-footer {
  margin: 0;
  padding: 0;
}
