@url delete deleteImage;


.selected .editCell{
	background-color: black;
	color: white;
}

.editCell{

	overflow: hidden;
	text-overflow: ellipsis;
	height: 20px;
	padding-left: 25px;
	background-image: delete;
	background-repeat: no-repeat;
	
	
}