@if mgwt.css pretty {
  @external mgwt-DialogPanel, mgwt-DialogPanel-container, mgwt-DialogPanel-title;
  @external mgwt-DialogPanel-content, mgwt-DialogPanel-footer;
}

.mgwt-DialogPanel {
  border: solid 1px #72767b;
  padding: 0px;
  opacity: 1;
  background-color: #d2d6d6;
  border: 1px solid #9daca9;
  color: #454545;
  border-radius: 5px;
  min-width: 150px;
}

.mgwt-DialogPanel-container {
  color: #ffffff;
  padding: 5px;
}

.mgwt-DialogPanel-title {
  color: #ffffff;
  background: none;
  border: none;
  text-align: center;
  font-size: 19px;
  margin-bottom: 20px;
}

.mgwt-DialogPanel-content {
  margin: 10px;
  text-align: center;
}

.mgwt-DialogPanel-footer {
  margin-top: 10px;
  display: -webkit-box; /* iOS < 7 && Android < 4.4*/
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center; /* iOS < 7 && Android < 4.4*/
  -webkit-justify-content: center;
  -moz-justify-content: center;
  justify-content: center;
}
