@url actionImage buttonBarActionImage;
@url arrowDownImage buttonBarArrowDownImage;
@url arrowUpImage buttonBarArrowUpImage;
@url arrowLeftImage buttonBarArrowLeftImage;
@url arrowRightImage buttonBarArrowRightImage;
@url bookmarksImage buttonBarBookmarksImage;
@url cameraImage buttonBarCameraImage;
@url composeImage buttonBarComposeImage;
@url contactAddImage buttonBarContactAddImage;
@url deleteImage buttonBarDeleteImage;
@url fastForwardImage buttonBarFastForwardImage;
@url infoImage buttonBarInfoImage;
@url locateImage buttonBarLocateImage;
@url newImage buttonBarNewImage;
@url nextSlideImage buttonBarNextSlideImage;
@url organizeImage buttonBarOrganizeImage;
@url pauseImage buttonBarPauseImage;
@url playImage buttonBarPlayImage;
@url plusImage buttonBarPlusImage;
@url pressedImage buttonBarPressedIndicatorImage;
@url previousSlideImage buttonBarPreviousSlideImage;
@url refreshImage buttonBarRefreshImage;
@url replyImage buttonBarReplyImage;
@url rewindImage buttonBarRewindImage;
@url searchImage buttonBarSearchImage;
@url stopImage buttonBarStopImage;
@url trashImage buttonBarTrashImage;


.mgwt-ButtonBar {
	position: absolute;
	bottom: 0px;
	height: 40px;
	width: 100%;
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(176, 188, 205, 1)), to(rgba(129, 149, 175, 1)))');
	border-top: 1px solid rgb(45, 54, 66);
}

.mgwt-BarButton {
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 40px;
	height: 40px;
}

.action{
	background-image: actionImage;
}

.action.active{
	background-image: pressedImage, actionImage;
}

.arrowDown{
	background-image: arrowDownImage;
}

.arrowDown.active{
	background-image: pressedImage, arrowDownImage;
}

.arrowLeft{
	background-image: arrowLeftImage;
}

.arrowLeft.active{
	background-image: pressedImage, arrowLeftImage;
}

.arrowRight{
	background-image: arrowRightImage;
}

.arrowRight.active{
	background-image: pressedImage, arrowRightImage;
}

.arrowUp{
	background-image: arrowUpImage;
}

.arrowUp.active{
	background-image: pressedImage, arrowUpImage;
}

.bookmark {
	background-image: bookmarksImage;
}

.bookmark.active {
	background-image: pressedImage, bookmarksImage;
}

.camera {
	background-image: cameraImage;
}

.camera.active {
	background-image: pressedImage, cameraImage;
}

.compose {
	background-image: composeImage;
}

.compose.active {
	background-image: pressedImage, composeImage;
}

.contactAdd {
	background-image: contactAddImage;
}

.contactAdd.active {
	background-image: pressedImage, contactAddImage;
}

.delete {
	background-image: deleteImage;
}

.delete.active {
	background-image: pressedImage, deleteImage;
}

.fastForward {
	background-image: fastForwardImage;
}

.fastForward.active {
	background-image: pressedImage, fastForwardImage;
}

.info {
	background-image: infoImage;
}

.info.active {
	background-image: pressedImage, infoImage;
}

.locate {
	background-image: locateImage;
}

.locate.active {
	background-image: pressedImage, locateImage;
}

.new {
	background-image: newImage;
}

.new.active {
	background-image: pressedImage, newImage;
}

.nextSlide {
	background-image: nextSlideImage;
}

.nextSlide.active {
	background-image: pressedImage, nextSlideImage  ;
}

.organize {
	background-image: organizeImage;
}

.organize.active {
	background-image: pressedImage, organizeImage;
}

.pause {
	background-image: pauseImage;
}

.pause.active {
	background-image: pressedImage, pauseImage;
}

.play {
	background-image: playImage;
}

.play.active {
	background-image: pressedImage, playImage  ;
}

.plus {
	background-image: plusImage;
}

.plus.active {
	background-image: pressedImage, plusImage;
}

.previousSlide {
	background-image: previousSlideImage;
}

.previousSlide.active {
	background-image: pressedImage, previousSlideImage ;
}

.refresh {
	background-image: refreshImage;
}

.refresh.active {
	background-image: pressedImage, refreshImage;
}

.reply {
	background-image: replyImage;
}

.reply.active {
	background-image: pressedImage, replyImage;
}

.rewind {
	background-image: rewindImage;
}

.rewind.active {
	background-image:  pressedImage, rewindImage;
}

.search {
	background-image: searchImage;
}

.search.active {
	background-image: pressedImage, searchImage ;
}

.stop {
	background-image: stopImage;
}

.stop.active {
	background-image:  pressedImage, stopImage;
}

.trash {
	background-image: trashImage;
}

.trash.active {
	background-image: pressedImage, trashImage  ;
}




