@if mgwt.css pretty {
	@external mgwt-Button, active, small, round, important, confirm;
	
}

.mgwt-Button {
	border: solid 3px rgb(110,110,110);
	\-webkit-border-radius: 12px;
	\-webkit-box-shadow: 2px 2px 3px #999; 	
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(234,234,234,0.90)), color-stop(0.5, rgba(195,195,195,0.70)), color-stop(0.5, rgba(166,166,166,0.70)), to(rgba(167,167,167,0.80)))'); 
	color: #000;
	text-shadow: rgba(255, 255, 255, .6) 0 1px 0;
	padding: 9px 13px;
	margin: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 19px;
	font-weight: bold;
	text-align: center;
	
}

.mgwt-Button.active {
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(135,148,203,0.85)), color-stop(0.5, rgba(34,56,159,0.75)), color-stop(0.5, rgba(0,27,145,0.75)), to(rgba(2,59,152,0.65)))'); 
	color: #fff;
	text-shadow: #000 0 1px 0;
	\-webkit-box-shadow: inset rgba(207,207,255,0.75) 0px 1px 1px;

}

.mgwt-Button.small{
	padding: 5px 7px;
	margin: 2px;
	margin-left: 5px;
	margin-right: 5px;
	font-size: 12px;
}

.mgwt-Button.round {
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	border-top-left-radius: 16px 16px;
	border-top-right-radius: 16px 16px;
}

.mgwt-Button.important {
	\-webkit-box-shadow: 2px 2px 3px #999; 
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,59,59,0.70)), color-stop(0.5, rgba(233,72,72,0.80)), color-stop(0.5, rgba(184,0,0,0.70)), to(rgba(255,0,0,0.80)))'); 
	color: #fff;
	text-shadow: #000 0 1px 0;
	padding: 9px 11px;
}

.mgwt-Button.important.active {
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,30,30,0.80)), color-stop(0.5, rgba(233,40,40,0.90)), color-stop(0.5, rgba(184,0,0,0.80)), to(rgba(255,0,0,0.90)))'); 
}

.mgwt-Button.confirm {
	\-webkit-box-shadow: 2px 2px 3px #999; 
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(115,239,115,0.70)), color-stop(0.5, rgba(73,171,14,0.60)), color-stop(0.5, rgba(0,113,0,0.70)), to(rgba(0,150,0,0.80)))'); 
	color: #fff;
	text-shadow: #000 0 1px 0;
	padding: 9px 11px;
}

.mgwt-Button.confirm.active {
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(135,148,203,0.85)), color-stop(0.5, rgba(34,56,159,0.75)), color-stop(0.5, rgba(0,27,145,0.75)), to(rgba(2,59,152,0.65)))'); 
	color: #fff;
	text-shadow: #000 0 1px 0;
	\-webkit-box-shadow: inset rgba(207,207,255,0.75) 0px 1px 1px;
	
	
}