
@if mgwt.css pretty {
	@external mgwt-DialogAnimationContainer-Shadow, mgwt-DialogAnimationContainer, mgwt-DialogAnimationContainer-center;
	@external mgwt-DialogPanel, container, title, content, footer, okbutton, cancelbutton, active, mgwt-BottomPanel, shadow;
}


.mgwt-DialogAnimationContainer-Shadow {
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.4);
}

.mgwt-DialogAnimationContainer {
	display: -webkit-box;
	width: 100%;
	height: 100%
    
}

.mgwt-DialogAnimationContainer-center {
	\-webkit-box-orient: horizontal;
    \-webkit-box-pack: center;
    \-webkit-box-align: center;
}


.mgwt-DialogPanel {
	
	border: solid 1px #72767b;
	\-webkit-border-radius: 10px;
	\-webkit-box-shadow: 0px 4px 6px #666666, 0 0 50px rgba(255, 255, 255, 1);
	padding: 0px;
	opacity: 1;
	/*
	width: 70%;
	max-width: 320px;
	*/
	
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(0, 15, 70, 0.5) ), to(rgba(0, 0, 70, 0.5) ) )');
}





.mgwt-DialogPanel .container {
	color: #ffffff;
	text-shadow: 0px -1px 1px #000000;
	border: solid 2px #e6e6ee;
	\-webkit-border-radius: 10px;
	padding: 10px;
	background-image: literal('-webkit-gradient(radial, 50% -1180, 150, 50% -280, 1400, color-stop(0, rgba(140, 150, 170, 1) ), color-stop(0.48, rgba(140, 150, 170, 1) ), color-stop(0.499, rgba(75, 90, 120, .9) ), color-stop(0.5, rgba(75, 90, 120, 0) ) )');
}

.mgwt-DialogPanel .title {
	\-webkit-border-top-right-radius: 10px;
	\-webkit-border-top-left-radius: 10px;
	color: #ffffff;
	background: none;
	border: none;
	text-shadow: 0px -2px 1px #000000;
	width: 100%;
	text-align: center;
	font-size: 19px;
	margin-bottom: 20px;
}

.mgwt-DialogPanel .content {
	margin: 10px;
}

.mgwt-DialogPanel .footer {
	\-webkit-box-pack: justify;
	margin-top: 10px;
	display: -webkit-box;
	\-webkit-box-orient: horizontal;
	\-webkit-box-sizing: border-box;
}

.mgwt-DialogPanel .okbutton, .mgwt-DialogPanel .cancelbutton {
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	\-webkit-box-flex: 2;
	margin-top: 10px;
	margin-right: 5px;
	padding-right: 5px;
	padding-left: 5px;
	min-width: 40px;
	height: 32px;
	line-height: 32px;
	\-webkit-border-radius: 8px;
	text-shadow: 0px -2px 1px #000000;
}

.mgwt-DialogPanel .okbutton {
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#b0b5c5),color-stop(0.5, #7a839b), color-stop(0.5, #515d7c), to(#636e8a) )');
}

.mgwt-DialogPanel .cancelbutton {
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#828ba3), color-stop(0.5, #4c5a7c), color-stop(0.5, #27375f), to(#2e3d64) )');
}

.mgwt-DialogPanel .cancelbutton.active, .mgwt-DialogPanel .okbutton.active
{
	background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#70747f), color-stop(0.5, #424857), color-stop(0.5, #171e30), to(#222839) )');
}


.mgwt-BottomPanel {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-color: rgba(0, 0, 0, 0.9);
	background-image: literal('-webkit-gradient(linear, 0% 0, 0% 100%, from(rgba(50, 74, 103, 0.9)), color-stop(0.02, rgba(20, 25, 35, 0.9) ), to(rgba(0, 0, 0, 0.0) ) )');
	border-top: 1px solid #030506;
	padding: 10px;
}
