.mgwt-TextBox .box, .mgwt-PasswordTextBox .box, .mgwt-TextArea .box{
    color: #777;
    border: 0;
    font: normal 17px Helvetica;
    padding: 0;
    display: inline-block;
    margin-left: 0px;
    width: 100%;
    height: 100%;
    \-webkit-appearance: textarea;
    \-webkit-user-select: text;
}

.mgwt-TextBox .cover, .mgwt-PasswordTextBox .cover, .mgwt-TextArea .cover{
    position: absolute;
    width: 100%;
    height: 100%;
}

.mgwt-TextBox , .mgwt-PasswordTextBox, .mgwt-TextArea {
    position: relative;
   
}


