.mgwt-PullPanel {
	flex: 1;
	overflow:hidden;
}

@url error errorImage;


.mgwt-PullPanel-container{}
.mgwt-PullPanel-main{
  
}

@if mgwt.css pretty {
	@external mgwt-PullToRefresh, mgwt-PullToRefresh-arrow, mgwt-PullToRefresh-spinner, mgwt-PullToRefresh-error, mgwt-PullToRefresh-text, .mgwt-PullToRefresh-arrowFooter;
}

.mgwt-PullToRefresh {
	position: relative;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 70px;
}

@sprite .mgwt-PullToRefresh-arrow {gwt-image: "getButtonBarNextSlideImage"; }

.mgwt-PullToRefresh-arrow {
	position: absolute;
	margin-left: 50px;
	top: 20px;
	width: 40px;
	height: 40px;
	background-repeat: no-repeat;
}


@if user.agent safari {
	.mgwt-PullToRefresh-arrow {
		\-webkit-transform-origin: 12px 9px;
	
	}
}

@if user.agent gecko1_8 {
	.mgwt-PullToRefresh-arrow {
		\-moz-transform-origin: 12px 9px;
	
	}
}



.mgwt-PullToRefresh-spinner {
	position: absolute;
	margin-left: 50px;
	top: 10px;
	width: 50px;
	height: 50px;
}

.mgwt-PullToRefresh-error {
	position: absolute;
	margin-left: 50px;
	top: 15px;
	width: 50px;
	height: 50px;
	background-image: error;
	background-repeat: no-repeat;
}

.mgwt-PullToRefresh-text {
	position: absolute;
	top: 20px;
	left: 110px;
	display: inline-block;
	font-size: 20px;
}

@if user.agent safari {
	
	@if mgwt.os ipad_retina {
		.mgwt-PullToRefresh-arrow {
			background-size: 23px 18px;
		}
	}
	
}