@if mgwt.css pretty {
	@external mgwt-TabBar-Button, bookmark, selected;
}


.mgwt-TabBar-Button.bookmark{
	
}
.mgwt-TabBar-Button.bookmark.selected{
		
}

@if mgwt.os ipad iphone desktop retina {
	@url bookmarkImage tabBarBookMarkImage;
		
	.mgwt-TabBar-Button.bookmark .icon{
		\-webkit-mask-box-image: bookmarkImage;
		width: 36px;
		height: 39px;
	}
	
	@if user.agent safari {
		.mgwt-TabBar-Button.bookmark .icon{
			\-webkit-mask-box-image: bookmarkImage;
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-TabBar-Button.bookmark .icon{
			background-image: bookmarkImage;
		}
	}
	
	
		
	
}
