@if mgwt.css pretty {
	@external mgwt-TabBar-Button, contacts, selected;
}

.mgwt-TabBar-Button.contacts{
		
}	
.mgwt-TabBar-Button.contacts.selected{
		
}


@if mgwt.os ipad iphone desktop retina {
	@url contactsImage tabBarContactsImage;
	
	
	
	.mgwt-TabBar-Button.contacts .icon{
		\-webkit-mask-box-image: contactsImage;
		width: 45px;
		height: 36px;
		margin-bottom: 3px;
	}
	
	
}
