@if mgwt.css pretty {
	@external mgwt-TabBar-Button, downloads, selected;
}

.mgwt-TabBar-Button.downloads{

}
.mgwt-TabBar-Button.downloads.selected{

}


@if mgwt.os ipad iphone desktop retina {
	@url downloadsImage tabBarDownloadsImage;
	
	
	.mgwt-TabBar-Button.downloads .icon{
		width: 33px;
		height: 39px;
	}
	
	@if user.agent safari {
		.mgwt-TabBar-Button.downloads .icon{
			\-webkit-mask-box-image: downloadsImage;
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-TabBar-Button.downloads .icon{
			background-image: downloadsImage;
		}
	}
		
	
}
