@if mgwt.css pretty {
	@external mgwt-TabBar-Button, featured, selected;
}

.mgwt-TabBar-Button.featured{
		
}
		
.mgwt-TabBar-Button.featured.selected{
		
}


@if mgwt.os ipad iphone desktop retina {

	@url featuredImage tabBarFeaturedImage;
	
	.mgwt-TabBar-Button.featured .icon{
		width: 40px;
		height: 39px;
	}
	
	@if user.agent safari {
		.mgwt-TabBar-Button.featured .icon{
			\-webkit-mask-box-image: featuredImage;
		}
	}
	
	@if user.agent gecko1_8 {
		.mgwt-TabBar-Button.featured .icon{
			background-image: featuredImage;
		}
	}

}
