@if mgwt.css pretty {
	@external mgwt-TabBar-Button, history, selected;
}

.mgwt-TabBar-Button.history{
		
}
	
.mgwt-TabBar-Button.history.selected{
	
}

@if user.agent safari gecko1_8 { 
	@if mgwt.os ipad iphone desktop retina {
		@url historyImage tabBarHistoryImage;
		
		
		.mgwt-TabBar-Button.history .icon{
			width: 45px;
			height: 36px;
			margin-bottom: 3px;
		}
		
		@if user.agent safari {
			.mgwt-TabBar-Button.history .icon{
				\-webkit-mask-box-image: historyImage;
			}
		}
		
		@if user.agent gecko1_8 {
			.mgwt-TabBar-Button.history .icon{
				background-image: historyImage;
			}
		}
		
	}	
}
