@if mgwt.css pretty {
	@external mgwt-TabBar-Button, more, selected;
}

.mgwt-TabBar-Button.more{
	
}
	
.mgwt-TabBar-Button.more.selected{
	
}


@if user.agent safari gecko1_8 { 
	@if mgwt.os ipad iphone desktop retina {
		@url moreImage tabBarMoreImage;
		
		
		.mgwt-TabBar-Button.more .icon{
			position:relative;
			top: 15px;
			width: 29px;
			height: 16px;
			
		}
		
		@if user.agent safari {
			.mgwt-TabBar-Button.more .icon{
				\-webkit-mask-box-image: moreImage;
			}
		}
		
		@if user.agent gecko1_8 {
			.mgwt-TabBar-Button.more .icon{
				background-image: moreImage;
			}
		}
		
		
		.mgwt-TabBar-Button.more .text{
			margin-top: 18px;
	
		}
	}
	
}
