@if mgwt.css pretty {
	@external mgwt-TabBar-Button, more, selected;
}

.mgwt-TabBar-Button.more{
	
}
	
.mgwt-TabBar-Button.more.selected{
	
}



@if mgwt.os ipad iphone desktop retina {
	@url moreImage tabBarMoreImage;
	
	
	.mgwt-TabBar-Button.more .icon{
		position:relative;
		top: 15px;
		\-webkit-mask-box-image: moreImage;
		width: 29px;
	
		
		height: 16px;
		
	}
	
	.mgwt-TabBar-Button.more .text{
		margin-top: 18px;

	}
	
	
}
