@if mgwt.css pretty {
	@external mgwt-TabBar-Button, mostViewed, selected;
}

.mgwt-TabBar-Button.mostViewed{
		
}
	
.mgwt-TabBar-Button.mostViewed.selected{
	
}


@if user.agent safari gecko1_8 { 
	@if mgwt.os ipad iphone desktop retina {
		@url mostViewedImage tabBarMostViewedImage;
		
		
		
		.mgwt-TabBar-Button.mostViewed .icon{
			width: 37px;
			height: 39px;
		}
		
		@if user.agent safari {
			.mgwt-TabBar-Button.mostViewed .icon{
				\-webkit-mask-box-image: mostViewedImage;
			}
		}
		
		@if user.agent gecko1_8 {
			.mgwt-TabBar-Button.mostViewed .icon{
				background-image: mostViewedImage;
			}
		}
		
	}
}
