@if mgwt.css pretty {
	@external mgwt-TabBar-Button, search, selected;
}

.mgwt-TabBar-Button.search{
	
}
.mgwt-TabBar-Button.search.selected{
		
}


@if user.agent safari gecko1_8 { 
	@if mgwt.os ipad iphone desktop retina {
		@url searchImage tabBarSearchImage;
		
		
		
		.mgwt-TabBar-Button.search .icon{
			width: 30px;
			height: 39px;
		}
		
		@if user.agent safari {
			.mgwt-TabBar-Button.search .icon{
				\-webkit-mask-box-image: searchImage;
			}
		}
		
		@if user.agent gecko1_8 {
			.mgwt-TabBar-Button.search .icon{
				background-image: searchImage;
			}
		}
		
	}
}
