@if mgwt.css pretty {
	@external mgwt-RadioButton, mgwt-RadioButton-label, mgwt-RadioButton-input, mgwt-RadioButton-disabled;
}

.mgwt-RadioButton {
	position: relative;
}

.mgwt-RadioButton-label {
	
}

.mgwt-RadioButton-input {
	
}

@if user.agent safari {
	.mgwt-RadioButton {
		display: \-webkit-box;
		-webkit-box-orient: horizontal;
		\-webkit-box-flex: 1;
	}
	.mgwt-RadioButton-label {
		display: \-webkit-box;
		\-webkit-box-flex: 1;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton {
		display: \-moz-box;
		\-moz-box-orient: horizontal;
		width: 100%;
		\-moz-box-flex: 1;
	}
	.mgwt-RadioButton-label {
		display: -moz-box;
		position: relative;
		\-moz-box-flex: 1;
	}
}

.mgwt-RadioButton-disabled {
	
}