@url androidCheckChecked android_check_checked;
@url androidCheckNotChecked android_check_not_checked;

.mgwt-RadioButton-input {
	width: 32px;
	height: 32px;
	border: none;
	background-color: transparent;
	background-image: androidCheckNotChecked;
}

.mgwt-RadioButton-input:CHECKED {
	background-image: androidCheckChecked;
	background-color: transparent;
}

.mgwt-RadioButton-input:FOCUS {
	\-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	\-webkit-focus-ring-color: rgba(0, 0, 0, 0);
}

@if user.agent safari {
	.mgwt-RadioButton-input {
		\-webkit-appearance: none;
		\-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
		\-webkit-focus-ring-color: rgba(0, 0, 0, 0);
	}
	.mgwt-RadioButton-input:CHECKED {
		\-webkit-appearance: none;
	}
}

@if user.agent gecko1_8 {
	.mgwt-RadioButton-input {
		\-moz-appearance: none;
		\-moz-tap-highlight-color: rgba(255, 255, 255, 0);
		\-moz-focus-ring-color: rgba(0, 0, 0, 0);
	}
	.mgwt-RadioButton-input:CHECKED {
		\-moz-appearance: none;
	}
}