@if mgwt.css pretty {
	@external mgwt-OverlayMenu, mgwt-OverlayMenu-nav;
	@external mgwt-OverlayMenu-animation, mgwt-OverlayMenu-main;
}

.mgwt-OverlayMenu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
}

.mgwt-OverlayMenu-nav {
  position: absolute;
  top: 0;
  left: 0;
  bottom:0;
  width: 300px;
}

.mgwt-OverlayMenu-animation {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  overflow: hidden;
}

.mgwt-OverlayMenu-main {
  position: absolute;
  top: 0;
  left: 300px;
  right: 0px;
  bottom:0;
  border-left: 1px solid black;
}

@if user.agent safari {
  .mgwt-OverlayMenu-nav {
    -webkit-transform-property: opacity;
  }
  .mgwt-OverlayMenu-main {
    -webkit-transform-property: left;
  }
}

@if user.agent gecko1_8 {
  .mgwt-OverlayMenu-nav {
    -moz-transform-property: opacity;
  }
  .mgwt-OverlayMenu-main {
    -moz-transform-property: left;
  }
}
