.mgwt-Button {
	border: solid 1px rgba(0, 0, 0, 0.5);
	color: #000;
	font-weight: bold;
}

.mgwt-Button-active {
	color: #fff;
}

@if user.agent safari {
	.mgwt-Button {
		\-webkit-border-radius: 6px;
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(234,234,234,0.90)), color-stop(0.5, rgba(195,195,195,0.70)), color-stop(0.5, rgba(166,166,166,0.70)), to(rgba(167,167,167,0.80)))');
	}
	.mgwt-Button-active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(5, 140, 245)),  to(rgb(1, 95, 230)) , color-stop(0.5, rgba(5, 140, 245,0.70)), color-stop(0.5, rgba(1, 95, 230,0.70)) )');
		\-webkit-box-shadow: inset rgba(207, 207, 255, 0.75) 0px 1px 1px;
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button {
		\-moz-border-radius: 6px;
		border-radius: 6px;
		background-image: literal('-webkit-linear-gradient(top, rgba(234,234,234,0.90), rgba(195,195,195,0.70) 50%, rgba(166,166,166,0.70) 51%, rgba(167,167,167,0.80))');
	}
	.mgwt-Button-active {
		background-image: literal('-moz-linear-gradient(top, rgb(5, 140, 245),  rgba(5, 140, 245,0.70) 50%, rgba(1, 95, 230,0.70) 51% , rgb(1, 95, 230) )');
		\-moz-box-shadow: inset rgba(207, 207, 255, 0.75) 0px 1px 1px;
	}
}


.mgwt-Button-important {
	color: #fff;
}

@if user.agent safari {
	.mgwt-Button-important {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,59,59,0.70)), color-stop(0.5, rgba(233,72,72,0.80)), color-stop(0.5, rgba(184,0,0,0.70)), to(rgba(255,0,0,0.80)))');
	}
	.mgwt-Button-important.mgwt-Button-active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(255,30,30,1)), color-stop(0.5, rgba(233,40,40,1)), color-stop(0.5, rgba(184,0,0,1)), to(rgba(255,0,0,1)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button-important {
		background-image: literal('-moz-linear-gradient(top, rgba(255,59,59,0.70), rgba(233,72,72,0.80) 50%, rgba(184,0,0,0.70) 51%, rgba(255,0,0,0.80))');
	}
	.mgwt-Button-important.mgwt-Button-active {
		background-image: literal('-moz-linear-gradient(ltop, rgba(255,30,30,1), rgba(233,40,40,1) 50%, rgba(184,0,0,1) 51%, rgba(255,0,0,1))');
	}
}

.mgwt-Button-confirm {
	color: #fff;
}

@if user.agent safari {
	.mgwt-Button-confirm {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(115,239,115,0.70)), color-stop(0.5, rgba(73,171,14,0.60)), color-stop(0.5, rgba(0,113,0,0.70)), to(rgba(0,150,0,0.80)))');
	}
	.mgwt-Button-confirm.mgwt-Button-active {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgba(80,200,80,1)), color-stop(0.5, rgba(50,150,0,1)), color-stop(0.5, rgba(0,100,0,1)), to(rgba(0,80,0,1)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-Button-confirm {
		background-image: literal('-moz-linear-gradient(top, rgba(115,239,115,0.70), rgba(73,171,14,0.60) 50%, rgba(0,113,0,0.70) 51%, rgba(0,150,0,0.80))');
	}
	.mgwt-Button-confirm.mgwt-Button-active {
		background-image: literal('-moz-linear-gradient(top, rgba(80,200,80,1), rgba(50,150,0,1) 50%, rgba(0,100,0,1) 51%, rgba(0,80,0,1))');
	}
}

.mgwt-Button-round {
	border-bottom-left-radius: 16px 16px;
	border-bottom-right-radius: 16px 16px;
	border-top-left-radius: 16px 16px;
	border-top-right-radius: 16px 16px;
}