body {
	background-color: #C5CCD4;
	background-size: 7px 7px;
	background-repeat: repeat;
}

@if user.agent safari {
	body {
		background-image: literal('-webkit-gradient(linear, left top, right top, from(#C5CCD4), to(#CBD2D8), color-stop(0.6, #C5CCD4), color-stop(0.6, #CBD2D8))');
	}
}

@if user.agent gecko1_8 {
	body {
		background-image: literal('-moz-linear-gradient(left, #C5CCD4, #C5CCD4 60%, #CBD2D8 61%, #CBD2D8)');
	}
}