@if mgwt.css pretty {
  @external mgwt-Panel, mgwt-Panel-round;
}

.mgwt-Panel {
  background-color: #d2d6d6;
  border: 1px solid #9daca9;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: #454545;
  border-radius: 5px;
}

.mgwt-Panel-round {
  border-radius: 15px;
}