.mgwt-TextBox, .mgwt-InputBox-box, .mgwt-PasswordTextBox,
.mgwt-InputBox-box, .mgwt-TextArea, .mgwt-InputBox-box {
  color: #151515;
  background-color: white;
}

.mgwt-InputBox-disabled {
  color: #CCC;
}

.mgwt-InputBox-disabled::-webkit-input-placeholder {
  color: #CCC;
}

.mgwt-InputBox-invalid {
  color: rgb(197, 3, 3);
}

.mgwt-InputBox-invalid::-webkit-input-placeholder {
  color: rgb(197, 3, 3);
}
