@if mgwt.os ios {
	body {
		background-color: #ECEBF1;
	}
}

@if mgwt.os android {
  body {
	  background-attachment: fixed;
	  color: white;
  }

  /* Certain chrome versions to not render a background correctly on body. THe body height is zero for some reason.
     On Chrome 36 this appears to be fixed, but not on the Chrome on Android version 36.
     As a workaround we add a pseudo element to the body that contains the background.
  */
  body::before {
    background-attachment: fixed;
    background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#000000), to(rgb(46, 54, 60)))');
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: " ";
  }


  @if user.agent safari {
    body {
      background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#000000), to(rgb(46, 54, 60)))');
    }
  }

  @if user.agent gecko1_8 {
    body {
      background-image: literal('-moz-linear-gradient(top, #000000, rgb(46, 54, 60))');
    }
  }
}
