
.okbutton, .cancelbutton {
	display: block;
	font-size: 17px;
	text-align: center;
	\-webkit-box-flex: 2;
	margin-top: 10px;
	margin-right: 2px;
	min-width: 40px;
	height: 32px;
	line-height: 32px;
}



.cancelbutton.active, .okbutton.active {
	background-color: rgba(49, 69, 107, 0.7);
}