.mgwt-ButtonBar {
	height: 49px;
	border-top: 1px solid rgb(45, 54, 66);
}


@if user.agent safari {
	.mgwt-ButtonBar {
		background: literal('-webkit-gradient(linear,left bottom,left top,color-stop(0, #A8ACB9),color-stop(1, #eee))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-ButtonBar {
		background: literal('-moz-linear-gradient(bottom,#A8ACB9,#eee)');
	}
}
