.mgwt-List > li {
	background-color: white;
	border: 1px solid rgb(171, 173, 176);
	border-bottom: none;
}


.mgwt-List-round > .mgwt-List-first {
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}

.mgwt-List-round > .mgwt-List-last {
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-bottom: 1px solid rgb(171, 173, 176);
}


.mgwt-List-round > .mgwt-List-first > .mgwt-FormList-Element {
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	overflow: hidden;
}

.mgwt-List-round > .mgwt-List-last > .mgwt-FormList-Element {
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	overflow: hidden;
}

.mgwt-FormList-Element-label{
	background-color: #f3f3f3;
	
}



.mgwt-List-group {
	background-image: arrowImage;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.mgwt-List-group.mgwt-List-selected {
	font-weight: bold;
	color: white;
	background-repeat: no-repeat, repeat;
	background-position: 100% 50%, 0 0;
}

@if user.agent safari {
	.mgwt-List-group.mgwt-List-selected {
		background-image: arrowImage, literal('-webkit-gradient(linear, left top, left bottom, from(rgb(5, 140, 245)), to(rgb(1, 95, 230)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-List-group.mgwt-List-selected {
		background-image: arrowImage, literal('-moz-linear-gradient(top, rgb(5, 140, 245), rgb(1, 95, 230))');
	}
}

@if user.agent ie9 {
	.mgwt-List-group.mgwt-List-selected {
		background-image: arrowImage, url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA1OGNmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTVmZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	}
}

.mgwt-List-Header {
	color: black;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 20px 5px;
	text-shadow: rgba(255, 255, 255, 0.19);
}