.mgwt-Slider-bar {
	position: relative;
	height: 9px;
	background-repeat: no-repeat, repeat-x;
}

@if user.agent safari {
	.mgwt-Slider-bar {
		\-webkit-box-sizing: padding-box;
		\-webkit-box-shadow: 2px 2px 4px #666666;
		\-webkit-border-radius: 4px;
		background-image: literal('-webkit-gradient(linear, left top ,left bottom, from(#0a3b87), color-stop(.5, #4c8de7), color-stop(.95, #6babf5), to(#0a3b87)), -webkit-gradient(linear, left top ,left bottom, from(#929292), color-stop(.5, #f0f0f0), color-stop(.5, #fff), color-stop(.95, #fff), to(#929292))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-Slider-bar {
		\-moz-box-sizing: padding-box;
		\-moz-box-shadow: 2px 2px 4px #666666;
		\-moz-border-radius: 4px;
		border-radius: 4px;
		background-image: literal('-moz-linear-gradient(top, #0a3b87 , #4c8de7 50%, #6babf5 95%, #0a3b87 96%), -moz-linear-gradient(top, #929292, #f0f0f0 50%, #fff 51%, #fff 95%, #929292 100%)');
	}
}

@if user.agent ie9 {
	.mgwt-Slider-bar {
		\-ms-box-sizing: padding-box;
		\-ms-box-shadow: 2px 2px 4px #666666;
		border-radius: 4px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhM2I4NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzRjOGRlNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iIzZiYWJmNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTNiODciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+), url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzkyOTI5MiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YwZjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk1JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MjkyOTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	}
}

.mgwt-Slider-pointer {
	position: relative;
	height: 20px;
	width: 20px;
	left: -10px;
	top: -6px;
	border-radius: 10px;
}

@if user.agent safari {
	.mgwt-Slider-pointer {
		\-webkit-tap-highlight-color: transparent;
		\-webkit-box-shadow: 2px 2px 3px #666666;
		\-webkit-border-radius: 10px;
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(#aaaaaa), color-stop(.5, #eeeeee), to(#cccccc))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-Slider-pointer {
		\-moz-tap-highlight-color: transparent;
		\-moz-box-shadow: 2px 2px 3px #666666;
		\-moz-border-radius: 10px;
		border-radius: 10px;
		background-image: literal('-moz-linear-gradient(top, #aaaaaa,  #eeeeee 50%, #cccccc)');
	}
}

@if user.agent ie9 {
	.mgwt-Slider-pointer {
		
		\-ms-box-shadow: 2px 2px 3px #666666;
		
		border-radius: 10px;
		background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhYWFhYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	}
}