.mgwt-WidgetList-Entry {
	background-color: white;
	border: 1px solid rgb(171, 173, 176);
	border-bottom: none;
}

.mgwt-WidgetList-headerContainer {
  background-color: #EBEBF2;
  text-transform: uppercase;
  color: #66666B;
  font-size: 12px;
  font: Helvetica Neue UltraLight;
}

.mgwt-WidgetList-round > .mgwt-WidgetList-Entry-first {
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}

.mgwt-WidgetList-round > .mgwt-WidgetList-Entry-last {
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-bottom: 1px solid rgb(171, 173, 176);
}

.mgwt-WidgetList-round > .mgwt-WidgetList-Entry-first.mgwt-WidgetList-Entry {
	border-top-left-radius: 7px 7px;
	border-top-right-radius: 7px 7px;
	overflow: hidden;
}

.mgwt-WidgetList-round > .mgwt-WidgetList-Entry-last.mgwt-WidgetList-Entry {
	border-bottom-left-radius: 7px 7px;
	border-bottom-right-radius: 7px 7px;
	overflow: hidden;
}
