.mgwt-WidgetList {
  border-top: none;
  background-color: transparent;
  color: white;
}

.mgwt-WidgetList-Entry{
  padding: 10px;
  border-top: none;
  border-bottom: 1px solid #52a3c4;
}

.mgwt-WidgetList-headerContainer{
  text-shadow: none;
  background-color: transparent;
  color: white;
  border-top: none;
  border-bottom: 1px solid rgba(255,255,255,0.25);
}
