.mgwt-HeaderButton-text {
	color: white;
	border: 2px solid rgb(82, 163, 196);
}

@if user.agent safari {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-text {
		background: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(42, 123, 156)), to(rgb(32, 113, 146)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-text {
		background: literal('-moz-linear-gradient(top, rgb(42, 123, 156), rgb(32, 113, 146))');
	}
}

.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
	background-image: none;
	color: white;
	border: 2px solid rgb(82, 163, 196);
	border-right: none;
	border-top: none;
}

@if user.agent safari {
	.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
		\-webkit-box-shadow: none;
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
		\-moz-box-shadow: none;
	}
}

@if user.agent safari {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-border-content {
		background: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(42, 123, 156)), to(rgb(32, 113, 146)) )');
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-border-content {
		background: literal('-moz-linear-gradient(top, rgb(42, 123, 156), rgb(32, 113, 146))');
	}
}

.mgwt-HeaderButton-active{}