@if mgwt.css pretty {
	@external mgwt-HeaderPanel, mgwt-HeaderPanel-left, mgwt-HeaderPanel-right, mgwt-HeaderPanel-center, mgwt-DropDownMenu;
}

.mgwt-HeaderPanel {
	position: relative;
}

.mgwt-HeaderPanel-left {
	position: absolute;
}

.mgwt-HeaderPanel-right {
	position: absolute;
}

.mgwt-HeaderPanel-center {
	position: absolute;
	left: 50%;
}