.mgwt-HeaderButton .mgwt-HeaderButton-text {
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	color: #0840C1;
	font-weight: bold;
}

@if user.agent safari {
	.mgwt-HeaderButton .mgwt-HeaderButton-text {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(178, 182, 188)), to(rgb(108, 115,126)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton .mgwt-HeaderButton-text {
		background-image: literal('-moz-linear-gradient(top, rgb(178, 182, 188), rgb(108, 115,126))');
	}
}

@if user.agent ie9 ie10 {
	.mgwt-HeaderButton .mgwt-HeaderButton-text {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2IyYjZiYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2YzczN2UiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	}
}

@if user.agent safari {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-text {
		background-image: literal('-webkit-gradient(linear, left top, left bottom, from(rgb(138, 142, 148)), to(rgb(68, 75,86)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-text {
		background-image: literal('-moz-linear-gradient(top, rgb(138, 142, 148), rgb(68, 75,86))');
	}
}

@if user.agent ie9 ie10 {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-text {
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhhOGU5NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0NDRiNTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	}
}

.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	color: white;
	font-weight: bold;
}

@if user.agent safari {
	.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
		background-image: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(178, 182, 188)), to(rgb(108, 115,126)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
		background-image: literal('-moz-linear-gradient(top, rgb(178, 182, 188), rgb(108, 115,126))');
	}
}

@if user.agent ie9 ie10 {
	.mgwt-HeaderButton-back .mgwt-HeaderButton-border-content {
		display:none;
	}
	
	.mgwt-HeaderButton-back .mgwt-HeaderButton-border-container {
		display:none;
	}
}

@if user.agent safari {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-border-content {
		background-image: literal('-webkit-gradient(linear, left top, right bottom, from(rgb(138, 142, 148)), to(rgb(68, 75,86)))');
	}
}

@if user.agent gecko1_8 {
	.mgwt-HeaderButton-active .mgwt-HeaderButton-border-content {
		background-image: literal('-moz-linear-gradient(top, rgb(138, 142, 148), rgb(68, 75,86))');
	}
}

.mgwt-HeaderButton-active{}

