@if mgwt.css pretty {
	@external action, active;
}

@url actionImage toolbarActionImage;
@url pressedImage toolbarPressImage;

.action{
	background-image: actionImage;
}

.action.active{
	background-image: pressedImage, actionImage;
}

@if mgwt.os retina {
	.action {
		background-size: 23px 18px;
	}
	
	.action.active {
		background-size: 44px 44px, 23px 18px;
	}
}