@if mgwt.css pretty {
	@external arrowDown, active;
}

@if user.agent safari gecko1_8 {
	@url arrowDownImage toolbarArrowDownImage;
	@url pressedImage toolbarPressImage;
	.arrowDown {
		background-image: arrowDownImage;
	}
	.arrowDown.active {
		background-image: pressedImage, arrowDownImage;
	}
	@if mgwt.os retina {
		.arrowDown {
			background-size: 21px 18px;
		}
		.arrowDown.active {
			background-size: 44px 44px, 21px 18px;
		}
	}
}
	.arrowDown {
		
	}
	.arrowDown.active {
		
	}
