@if mgwt.css pretty {
	@external mgwt-BarButton;
}

.mgwt-BarButton {
	position: relative;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	width: 44px;
	height: 44px;
}

