@if mgwt.css pretty {
	@external info, active;
}

@if user.agent safari gecko1_8 { 
	@url infoImage toolbarInfoImage;
	@url pressedImage toolbarPressImage;
	.info {
		background-image: infoImage;
	}
	.info.active {
		background-image: pressedImage, infoImage;
	}
	@if mgwt.os retina {
		.info {
			background-size: 18px 19px;
		}
		.info.active {
			background-size: 44px 44px, 18px 19px;
		}
	}
}
	.info {
		
	}
	.info.active {
	
	}
