@if mgwt.css pretty {
	@external newIcon, active;
}

@if user.agent safari gecko1_8 { 
	@url newImage toolbarNewImage;
	@url pressedImage toolbarPressImage;
	.newIcon {
		background-image: newImage;
	}
	.newIcon.active {
		background-image: pressedImage, newImage;
	}
	@if mgwt.os retina {
		.newIcon {
			background-size: 18px 18px;
		}
		.newIcon.active {
			background-size: 44px 44px, 18px 18px;
		}
	}
}
	.newIcon {
		
	}
	.newIcon.active {
		
	}
