@if mgwt.css pretty {
	@external nextSlide, active;
}

@if user.agent safari gecko1_8 {
	@url nextSlideImage toolbarNextSlideImage;
	@url pressedImage toolbarPressImage;
	.nextSlide {
		background-image: nextSlideImage;
	}
	.nextSlide.active {
		background-image: pressedImage, nextSlideImage;
	}
	@if mgwt.os retina {
		.nextSlide {
			background-size: 23px 18px;
		}
		.nextSlide.active {
			background-size: 44px 44px, 23px 18px;
		}
	}
}
	.nextSlide {
		
	}
	.nextSlide.active {
		
	}
