@if mgwt.css pretty {
	@external plus, active;
}

@if user.agent safari gecko1_8 { 
	@url plusImage toolbarPlusImage;
	@url pressedImage toolbarPressImage;
	.plus {
		background-image: plusImage;
	}
	.plus.active {
		background-image: pressedImage, plusImage;
	}
	@if mgwt.os retina {
		.plus {
			background-size: 16px 17px;
		}
		.plus.active {
			background-size: 44px 44px, 16px 17px;
		}
	}
}
	.plus {
		
	}
	.plus.active {
		
	}
