@if mgwt.css pretty {
	@external reply, active;
}

@if user.agent safari gecko1_8 { 
	@url replyImage toolbarReplyImage;
	@url pressedImage toolbarPressImage;
	.reply {
		background-image: replyImage;
	}
	.reply.active {
		background-image: pressedImage, replyImage;
	}
	@if mgwt.os retina {
		.reply {
			background-size: 24.5px 18px;
		}
		.reply.active {
			background-size: 44px 44px, 24.5px 18px;
		}
	}
}
	.reply {
		
	}
	.reply.active {
		
	}
