@if mgwt.css pretty {
	@external stop, active;
}

@url stopImage toolbarStopImage;
@url pressedImage toolbarPressImage;



.stop {
	background-image: stopImage;
}

.stop.active {
	background-image:  pressedImage, stopImage;
}

@if mgwt.os retina {
	.stop {
		background-size: 17px 17px;
	}
	
	.stop.active {
		background-size: 44px 44px, 17px 17px;
	}
}