@if mgwt.css pretty {
	@external trash, active;
}

@if user.agent safari gecko1_8 { 
	@url trashImage toolbarTrashImage;
	@url pressedImage toolbarPressImage;
	.trash {
		background-image: trashImage;
	}
	.trash.active {
		background-image: pressedImage, trashImage;
	}
	@if mgwt.os retina {
		.trash {
			background-size: 16px 21px;
		}
		.trash.active {
			background-size: 44px 44px, 17px 17px;
		}
	}
}
	.trash {
		
	}
	.trash.active {
		
	}
