@if mgwt.css pretty {
	@external mgwt-FlexPanel, mgwt-RootFlexPanel, mgwt-FlexPanel-flex;
}

@if user.agent safari {
  .mgwt-FlexPanel {
    display: -webkit-box; /* iOS < 7 && Android < 4.4*/
    display: -webkit-flex;
    -webkit-box-orient: vertical; /* iOS < 7 && Android < 4.4*/
    -webkit-flex-flow: column;
  }
}

@if user.agent gecko1_8 {
  .mgwt-FlexPanel {
    display: -moz-box;
  }
}

.mgwt-FlexPanel {
  display: flex;
  flex-flow: column;
}

.mgwt-RootFlexPanel {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

@if user.agent safari {
  .mgwt-FlexPanel-flex {
    -webkit-box-flex: 1; /* iOS < 7 && Android < 4.4*/
    -webkit-flex: 1;
  }
}

@if user.agent gecko1_8 {
  .mgwt-FlexPanel-flex {
    -moz-flex: 1;
  }
}

.mgwt-FlexPanel-flex {
  flex: 1;
}
