.mgwt-CheckBox {
  border-radius: 0px;
  border: none;
}

.mgwt-CheckBox-checked .mgwt-CheckBox-on {
  -webkit-transform: translate3d(10px,0,0);
}

.mgwt-CheckBox-checked .mgwt-CheckBox-off {
  -webkit-transform: translate3d(0,0,0);
}


.mgwt-CheckBox-notchecked .mgwt-CheckBox-on {
  -webkit-transform: translate3d(-54px,0,0);
}

.mgwt-CheckBox-notchecked .mgwt-CheckBox-off {
  -webkit-transform: translate3d(-54px,0,0);
}

.mgwt-CheckBox-notchecked .mgwt-CheckBox-middle {
  background-color: #414141;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  width: 44px;
}

.mgwt-CheckBox-on {
  left: 84px;
  border-radius: 0px;
  background-color: #1A1A1B;
}

.mgwt-CheckBox-off {
  left: 0;
  border-radius: 0px;
  background-color: #1A1A1B;
}

.mgwt-CheckBox-important .mgwt-CheckBox-on {
  background-color: #1A1A1B;
}

.mgwt-CheckBox-checked .mgwt-CheckBox-middle-content {
  left:0;
  top:0;
  border-radius: 0px;
  background-color: #4392B7;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  width: 44px;
}

.mgwt-CheckBox-important .mgwt-CheckBox-middle-content {
  background-color: #fe9c12;
}

.mgwt-CheckBox-notchecked .mgwt-CheckBox-middle-content {
  display: none;
}
