@def DRAG_DEADZONE 3;
@def CONTAINER_MIN_ON -19;
@def CONTAINER_MAX_ON 0;
@def CONTAINER_OFFSET_ON 19;
@def CONTAINER_MIN_OFF 0;
@def CONTAINER_MAX_OFF 19;
@def CONTAINER_OFFSET_OFF 0;

.mgwt-CheckBox {
  width: 51px;
  height: 32px;
  background-color: #44D24C;
  align-self: center;
  justify-content: center;
  transition: background-color 0.4s;
  border-radius: 15px;
  border: 1px #DDD solid;
}

.mgwt-CheckBox-middle {
  position: relative;
  width: 28px;
  height: 28px;
  transition: all 0.4s;
  background-color: #FFF;
  border-radius: 50%;
}

.mgwt-CheckBox-notchecked.mgwt-CheckBox {
  -webkit-transform: translate3d(0px,0,0);
  background-color: #FAFAFA;
}

.mgwt-CheckBox-checked.mgwt-CheckBox {
  
}

.mgwt-CheckBox-checked .mgwt-CheckBox-middle {
  -webkit-transform: translate3d(19px,0,0);
  border: 1px #44D24C solid;
}

.mgwt-CheckBox-notchecked .mgwt-CheckBox-middle {
  -webkit-transform: translate3d(0px,0,0);
  border: 1px #DDD solid;
}

.mgwt-CheckBox-on {
  display: none;
}

.mgwt-CheckBox-off {
  display: none;
}

.mgwt-CheckBox-important .mgwt-CheckBox-on {

}

.mgwt-CheckBox-middle-content {
  display:none;
}