@if mgwt.css pretty {
  @external mgwt-CheckBox, mgwt-CheckBox-middle, mgwt-CheckBox-middle-content;
  @external mgwt-CheckBox-on, mgwt-CheckBox-off, mgwt-CheckBox-important;
  @external mgwt-CheckBox-notchecked, mgwt-CheckBox-checked;
}

@def DRAG_DEADZONE 8;
@def CONTAINER_MIN_ON -54;
@def CONTAINER_MAX_ON 0;
@def CONTAINER_OFFSET_ON 0;
@def CONTAINER_MIN_OFF 0;
@def CONTAINER_MAX_OFF 54;
@def CONTAINER_OFFSET_OFF -54;

.mgwt-CheckBox {
  width: 94px;
  overflow: hidden;
  text-align: center;
  line-height: 28px;
  cursor: pointer;
  border-radius: 6px;
}

@if user.agent safari {
  .mgwt-CheckBox {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: justify;
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
  }
}

@if user.agent gecko1_8 {
  .mgwt-CheckBox {
    width: 88px;
    line-height: 27px;
    display: -moz-box;
    -moz-box-orient: horizontal;
    -moz-box-pack: justify;
    -moz-tap-highlight-color: transparent;
    -moz-border-radius: 6px;
    -moz-box-sizing: border-box;
  }
}

.mgwt-CheckBox-middle {
  height: 25px;
  position: relative;
  z-index: 1;
  border: solid 1px #929292;
  border-radius: 6px;
}


@if user.agent safari {
  .mgwt-CheckBox-middle {
    -webkit-transition: all 0.1s ease-in-out;
  }
}

@if user.agent gecko1_8 {
  .mgwt-CheckBox-middle {
    -moz-transition: all 0.1s ease-in-out;
    -moz-border-radius: 6px;
  }
}

.mgwt-CheckBox-middle-content {
  display: block;
  position: relative;
  height: 25px;
  width: 38px;
  border-top: solid 1px #eeeeee;
  background-color: #e5e9e8;
  border-radius: 5px;
}

@if user.agent safari {
  .mgwt-CheckBox-middle-content {
    -webkit-box-sizing: border-box;
  }
}

@if user.agent gecko1_8 {
  .mgwt-CheckBox-middle-content {
    -moz-box-sizing: border-box;
  }
}

.mgwt-CheckBox-on {
  position: relative;
  height: 25px;
  color: #ffffff;
  margin-right: -6px;
  width: 54px;
  padding-right: 4px;
  border: solid 1px #093888;
  background-color: #288edf;
  border-radius-bottomleft: 6px;
  border-radius-topleft: 6px;
}

@if user.agent safari {
  .mgwt-CheckBox-on {
    -webkit-transition: all 0.1s ease-in-out;
  }
}

@if user.agent gecko1_8 {
  .mgwt-CheckBox-on {
    -moz-transition: all 0.1s ease-in-out;
  }
}

.mgwt-CheckBox-off {
  position: relative;
  color: #666666;
  width: 54px;
  padding-left: 4px;
  border: solid 1px #a2a2a2;
  margin-left: -6px;
  height: 25px;
  background-color: #d2d6d6;
  border-radius-topright: 6px;
  border-radius-bottomright: 6px;
}

@if user.agent safari {
  .mgwt-CheckBox-off {
    -webkit-transition: all 0.1s ease-in-out;
  }
}

@if user.agent gecko1_8 {
  .mgwt-CheckBox-off {
    -moz-transition: all 0.1s ease-in-out;
  }
}

@if user.agent safari {
  .mgwt-CheckBox-important .mgwt-CheckBox-on {
    border: solid 1px #d87101;
    background-color: #fe9c12;
  }
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-middle {
    -webkit-transform: translate3d(-54px,0,0);
  }
  .mgwt-CheckBox-checked .mgwt-CheckBox-middle {
    -webkit-transform: translate3d(0px,0,0);
  }
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-off {
    -webkit-transform: translate3d(-54px,0,0);
  }
  .mgwt-CheckBox-checked .mgwt-CheckBox-off {
    -webkit-transform: translate3d(10px,0,0);
  }
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-on {
    -webkit-transform: translate3d(-62px,0,0);
  }
  .mgwt-CheckBox-checked .mgwt-CheckBox-on {
    -webkit-transform: translate3d(0px,0,0);
  }
}

@if user.agent gecko1_8 {
  .mgwt-CheckBox-important .mgwt-CheckBox-on {
    border: solid 1px #d87101;
    background-color: #fe9c12;
  }
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-middle {
    -moz-transform: translate(-54px,0);
  }
  .mgwt-CheckBox-checked .mgwt-CheckBox-middle {
    -moz-transform: translate(0px,0);
  }
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-off {
    -moz-transform: translate(-54px,0);
  }
  .mgwt-CheckBox-checked .mgwt-CheckBox-off {
    -moz-transform: translate(0px,0);
  }
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-on {
    -moz-transform: translate(-62px,0);
  }
  .mgwt-CheckBox-checked .mgwt-CheckBox-on {
    -moz-transform: translate(0px,0);
  }
}

/*TODO add browser....*/
@if user.agent ie8 ie9 ie10 {
  .mgwt-CheckBox-important .mgwt-CheckBox-on {}
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-middle {}
  .mgwt-CheckBox-checked .mgwt-CheckBox-middle {}
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-off {}
  .mgwt-CheckBox-checked .mgwt-CheckBox-off {}
  .mgwt-CheckBox-notchecked .mgwt-CheckBox-on {}
  .mgwt-CheckBox-checked .mgwt-CheckBox-on {}
}
