@if mgwt.css pretty {
	@external mgwt-ListBox;
}

.mgwt-ListBox {
	color: #777;
	border: 0;
	font: normal 17px Helvetica;
	padding: 0;
	margin-left: 0px;
	width: 100%;
	height: 100%;
	background-color: transparent;
	
}

@if mgwt.formfactor desktop {
  .mgwt-ListBox {
    cursor: pointer;
  }
}


@if user.agent safari {
	.mgwt-ListBox {
		display: -webkit-box;
		\-webkit-appearance: none;
		\-webkit-user-select: text;
	}
}

@if user.agent gecko1_8 {
	.mgwt-ListBox {
		display: -moz-box;
		\-moz-appearance: none;
		\-moz-user-select: text;
	}
}