@if mgwt.css pretty {
  @external mgwt-RoundPanel, mgwt-Panel-round;
}

.mgwt-Panel {
  background-color: inherit;
  color: white;
  border: 1px solid #52a3c4;
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
  font-weight: bold;
}

.mgwt-Panel-round {
  border-radius: 15px;
}
