@if mgwt.css pretty {
  @external mgwt-RoundPanel, mgwt-Panel-round;
}

.mgwt-Panel {
  background-color: white;
  border: 1px solid rgb(171, 173, 176);
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  border-radius: 3px;
}

.mgwt-Panel-round {
  border-radius: 15px;
}
