
@if mgwt.css pretty {
	@external mgwt-RoundPanel;
	
}

.mgwt-Panel {}

.mgwt-Panel-round {
	border-radius: 15px;
	background-color: white;
	border: 1px solid rgb(171, 173, 176);
	margin: 10px;
	padding: 10px;
	font-weight: bold;
}

@if mgwt.os android android_tablet {
	.mgwt-Panel-round {
		background-color: inherit;
		border: none;
		color: white;
	}
}