@if mgwt.css pretty {
	@external mgwt-HeaderPanel, mgwt-HeaderPanel-left, mgwt-HeaderPanel-right, mgwt-HeaderPanel-center, mgwt-DropDownMenu;
	@external mgwt-HeaderButton, active, back, forward, round;
}



.mgwt-HeaderPanel {
	position: relative;
	height: 40px;
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(176, 188, 205, 1)), to(rgba(129, 149, 175, 1)))');
	border-bottom: 1px solid rgb(45, 54, 66);
	
}

@if mgwt.os android {
	.mgwt-HeaderPanel {
		background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 50%, from(rgba(100, 100, 100, 1)), to(rgba(50, 50, 50, 1)))');
	}
}

.mgwt-HeaderPanel .mgwt-HeaderPanel-left {
	position: absolute;
	top: 0px;
	left: 6px;
}

.mgwt-HeaderPanel .mgwt-HeaderPanel-right {
	position: absolute;
	top: 0px;
	right: 6px;
}

.mgwt-HeaderPanel .mgwt-HeaderPanel-center {
	position: absolute;
	left: 50%;
	opacity: 1;
	width: 310px;
	text-align: center;
	height: 31px;
	margin-top: 6px;
	margin-left: -150px;
	margin-right: 5px;
	z-index: 0;
	font-size: 16pt;
	font-weight: bold;
	color: white;
	text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}







.mgwt-HeaderButton {
	min-width: 40px;
	max-width: 60px;
	white-space: nowrap;
	text-overflow: ellipsis;
	z-index: 1;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: white;
	text-shadow: rgba(0, 0, 0, .6) 0px -1px 0px;

	margin: 6px 0 0 12px;
	height: 26px;
	
	\-webkit-border-radius: 4px;
	
}





@if mgwt.os android {
	.mgwt-HeaderButton {
		border: 1.5px solid rgba(50, 50, 50, 1);
		background-color: black;
		background: literal('-webkit-gradient(linear, left top, left bottom, from(#AAAAAA), to(#333333))');
		
		\-webkit-background-clip: padding-box;
		/*
		-webkit-box-shadow: none;*/
	}
}@else {
	.mgwt-HeaderButton {
		border: 1px solid rgba(0, 0, 0, 0.4);
		background: literal('-webkit-gradient(linear, left top, left bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
		\-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25), inset 0 1px 1px rgba(0, 0, 0, 0.2);
	}
}


.mgwt-HeaderButton p { 
    position: relative; 
    z-index: 2; 
    
    margin: 0; 
    padding: 5px; 
    font-size: 12px; 
    font-weight: bold; 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.4);
    text-align: center;
}




.mgwt-HeaderButton.active {
background: literal('-webkit-gradient(linear, left top, left bottom, from(#7582a4), to(#283d6f), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
}

@if mgwt.os android {
	.mgwt-HeaderButton.active {
		background: literal('-webkit-gradient(linear, left top, left bottom, from(#74b143), to(#43830e) )');
	}
}




.mgwt-HeaderButton.back div {
	position: absolute;
	z-index: 1;
	top: 4px;
	left: -7px;
	\-webkit-transform: rotate(51deg);
}
.mgwt-HeaderButton.back span { 
    \-webkit-transform: skew(15deg);
    display: block; 
    width: 15px; 
    height: 16px; 
    background: literal('-webkit-gradient(linear, left top, right bottom, from(#9fb3cc), to(#5b80ab), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa))');   
    \-webkit-border-radius: 1px; 
    border: 1px solid rgba(0,0,0, 0.4); 
    border-right: 0px solid rgba(255,255,255, 0); 
    border-top:0px solid rgba(255,255,255, 0); 
    \-webkit-box-shadow: 0 1px 0 rgba(255,255,255, 0.25);
}




@if mgwt.os android {
	.mgwt-HeaderButton.back span { 
	    
	    background: literal('-webkit-gradient(linear, left top, right bottom, from(#AAAAAA), to(#333333))');   
	    border-left: 1px solid rgba(0, 0, 0, 1);
	    border-bottom: 1px solid rgba(0, 0, 0, 1);
	    \-webkit-box-shadow: none;
	}
}


.mgwt-HeaderButton.active span{
background: literal('-webkit-gradient(linear, left top, right bottom, from(#7582a4), to(#283d6f), color-stop(0.5, #6b8bb2), color-stop(0.51, #597eaa) )');
}
@if mgwt.os android {
	.mgwt-HeaderButton.active span{
		background: literal('-webkit-gradient(linear, left top, left bottom, from(#74b143), to(#43830e) )');
	}
}




.mgwt-HeaderButton.forward div {
	position: absolute;
	z-index: 1;
	top: 4px;
	right: -7px;
	\-webkit-transform: rotate(51deg);
}

.mgwt-HeaderButton.round{
}




.mgwt-DropDownMenu .mgwt-HeaderPanel{
	padding: 0px 10px;
	height: 40px;
	\-webkit-border-top-left-radius: 8px;
	\-webkit-border-top-right-radius: 8px;
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7e838d), color-stop(0.5, #303648), color-stop(0.5, #121b2e), to(#131b2f) )');
	position: relative;
	border-bottom: 0;
	
}

.mgwt-DropDownMenu .mgwt-HeaderButton.back span { 
    
   background-image: literal('-webkit-gradient(linear, left top, right bottom, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e))');   
 
}

.mgwt-DropDownMenu .mgwt-HeaderButton
		{
			color: #ffffff;
			text-decoration: none;
			display: inline-block;
			/*padding: 4px 10px;*/
			\-webkit-border-radius: 5px;
			margin-top: 6px;
			background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#7d828c),color-stop(0.5, #303749), color-stop(0.5, #121a2e), to(#121a2e))');
			border: solid 1px rgba(79, 79, 79, 0.75);
			\-webkit-box-shadow: none;
			
		}

.mgwt-DropDownMenu .mgwt-HeaderButton.active {
	background-image: literal('-webkit-gradient(linear, 0% 0%, 0% 100%, from(#5e636d), color-stop(0.5, #101628), color-stop(0.5, #00000e), to(#00000f) )');
}

.mgwt-DropDownMenu .mgwt-HeaderButton.active span { 
    
   background-image: literal('-webkit-gradient(linear, left top, right bottom, from(#5d626c),color-stop(0.5, #101729), color-stop(0.5, #00000e), to(#00000e))');   
 
}


