.fillPanel {
	display: -webkit-box;
	\-webkit-box-orient: vertical;
	width: 100%;
	height: 100%;
}

.horizontal {
	\-webkit-box-orient: horizontal;
}

.fillPanel > .fillPanelExpandChild {
	\-webkit-box-flex: 1;
} 