@url arrowImage listArrow;
@url arrowTouchedImage listArrowTouched;


@if mgwt.css pretty {
	@external mgwt-List, selected, group, mgwt-List-Header;
	
}

.mgwt-List {
	position: relative;
	list-style: none;
	
}

.mgwt-List.round {
	margin: 3px 9px 17px;
	padding: 5px;
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}





/* should be obsolete */
.mgwt-List.round li:first-child {
	\-webkit-border-top-left-radius: 8px;
	\-webkit-border-top-right-radius: 8px;
}

.mgwt-List li {
	background-color: white;
	position: relative;
	list-style-type: none;
	display: block;
	
	overflow: hidden;
	border: 1px solid rgb(171, 173, 176);
	width: auto;
	border-bottom-width: 0px;
	background-origin: padding-box;
}

@if mgwt.os android {
	.mgwt-List li {
		background-color: #555555;
		border: 1px solid #444444;
		color: white; 
	}
}

	


.mgwt-List.round li:last-child {
	\-webkit-border-bottom-left-radius: 8px;
	\-webkit-border-bottom-right-radius: 8px;
	border-bottom-width: 1px;
}

.mgwt-List li {
	padding: 12px;
}

.mgwt-List .selected {
	
}

.mgwt-List .group {
	background-image: arrowImage;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.mgwt-List .group.selected {
	background-image: arrowTouchedImage, literal('-webkit-gradient(linear, 0% 0, 0% 100%, from(#CCCCCC), to(#EEEEEE) )');
	background-repeat: no-repeat, repeat;
	background-position: 100% 50%, 0 0;
	color: white;
}

@if mgwt.os android {

	.mgwt-List .group.selected {
		background-image: arrowTouchedImage, literal('-webkit-gradient(linear, left top, left bottom, from(#74b143), to(#43830e) )');
	}
	
}


.mgwt-List-Header {
	color: black;
	font: normal normal bold 18px/normal Helvetica;
	margin: 10px 20px 5px;
	text-shadow: rgba(255, 255, 255, 0.19);
}



