@url arrowImage listArrow;
@url arrowTouchedImage listArrowTouched;


@if mgwt.css pretty {
	@external mgwt-List, selected, group, mgwt-List-Header;
	
}

.mgwt-List {
	position: relative;
	list-style: none;
	border-collapse: collapse;
}


.mgwt-List li {
	background-color: white;
	position: relative;
	list-style-type: none;
	display: block;
	border: 1px solid rgb(171, 173, 176);
	border-bottom: none;
	overflow: hidden;
	width: auto;
	padding: 12px;
}

@if mgwt.os android {
	.mgwt-List li {
		background-color: #555555;
		border: 1px solid #444444;
		color: white; 
	}
}



.mgwt-List.round {
	margin: 10px;
}



.mgwt-List.round li{
	
}

.mgwt-List.round li.first {
	border-top-left-radius: 8px 8px;
	border-top-right-radius: 8px 8px;
}

.mgwt-List.round li.last {
	border-bottom-left-radius: 8px 8px;
	border-bottom-right-radius: 8px 8px;
	border-bottom: 1px solid rgb(171, 173, 176);;
	
}



.mgwt-List .selected {
	
}

.mgwt-List .group {
	background-image: arrowImage;
	background-repeat: no-repeat;
	background-position: 100% 50%;
}

.mgwt-List .group.selected {
	background-image: arrowTouchedImage, literal('-webkit-gradient(linear, 0% 0, 0% 100%, from(#CCCCCC), to(#EEEEEE) )');
	background-repeat: no-repeat, repeat;
	background-position: 100% 50%, 0 0;
	color: white;
}

@if mgwt.os ipad desktop {

	.mgwt-List .group.selected {
		font-weight: bold;
		background-image: arrowTouchedImage, literal('-webkit-gradient(linear, left top, left bottom, from(rgb(5, 140, 245)), to(rgb(1, 95, 230)) )');
	}
	
}

@if mgwt.os android {

	.mgwt-List .group.selected {
		
		background-image: arrowTouchedImage, literal('-webkit-gradient(linear, left top, left bottom, from(#74b143), to(#43830e) )');
	}
	
}


.mgwt-List-Header {
	color: black;
	font: normal normal bold 18px/normal Helvetica;
	margin: 10px 20px 5px;
	text-shadow: rgba(255, 255, 255, 0.19);
}



